swagger: '2.0'
info:
  title: 'Gateway API - Orders'
  description: 'This API will allow you to manage your orders from the marketplace.'

  version: "1.0"

  x-logo:
    url: https://imngo.blob.core.windows.net/imngo/images/imn-logo.png
    backgroundColor: "#FFFFFF"

  contact:
    email: support@imn.io

  license:
    name: IMN
    url: https://go.imn.io

host: api.imn.io
basePath: /gateway/orders/v1

x-beezup-ops:
  codeGenType: webapi
  repo: IMN
  product: IMN-ADPT
  group: Order
  applicationShortName: Order.WS
  apiName: GatewayOrdersV1
  appRoot: IMN.ADPT.Order.WebService
  namespace: IMN.ADPT.Order.WebService
  useBeezUPFrameworkVersion2: true
  comment: |
    No change. Just server side generation.
  using:
  - IMN.Schemas
  - IMN.Exceptions
  - IMN.Order.Schemas
  - IMN.Order.Events
  - IMN.Order.Exceptions
  references:
  - IMN.Schemas
  - IMN.Exceptions
  - IMN.Order.Schemas
  - IMN.Order.Exceptions
  - IMN.Order.Events
  dependencies:
  - EventHubs

x-basePath: /gateway/orders/v1

schemes:
  - https

consumes:
  - application/json
produces:
  - application/json

tags:
- name: Global

paths:

  '/{marketplaceCode}/ping':
    get:
      tags:
        - Global
      summary: Ping the status of your order system
      operationId: PingGatewayOrderApi
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      responses:
        200:
          description: The status of the API is up!
          schema:
            type: array
            items:
              $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/healthCheck'
        503:
          description: The status of your API is down...
          schema:
            type: array
            items:
              $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/healthCheck'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'

  '/{marketplaceCode}/{merchantCode}/events':
    post:
      tags:
        - Global
      summary: Push a batch of merchant marketplace order change events
      operationId: PushMerchantOrderChangeEvents
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - name: request
        in: body
        required: true
        schema:
          type: array
          minItems: 1
          maxItems: 1000
          items:
            $ref: 'https://api.swaggerhub.com/domains/IMN/order-events/1.0#/definitions/orderChangeEventBase'
      responses:
        '204':
          description: The merchant orders changes have been saved!
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'


  '/{marketplaceCode}/{merchantCode}/list':
    get:
      tags:
        - Global
      summary: Get order list
      operationId: GetOrderList
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/pageNumberQueryStringParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/pageSizeQueryStringParameter'
      - name: marketplaceLastModificationUtcDate
        in: query
        type: string
        format: DateTime
      responses:
        200:
          description: The paginated order list
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/orderMarketplaceInfoPaginatedList'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'


  '/{marketplaceCode}/{merchantCode}/{marketplaceOrderId}':
    get:
      tags:
        - Global
      summary: Get order
      operationId: GetOrder
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/marketplaceOrderIdParameter'
      responses:
        200:
          description: The order
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/orderMarketplaceInfo'
        404:
          $ref: 'https://api.swaggerhub.com/domains/IMN/order-exceptions/1.0#/responses/orderNotFound'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'


x-azure-api-id: 'GatewayOrdersV1'