swagger: '2.0'
info:
  version: '1.0'
  title: 'External API - Merchant Marketplace Subscription Request'
  description: 'External API - Merchant Marketplace Subscription Request'

host: api.beezup.com
basePath: /external/merchants/v1
schemes: 
- https

paths:

  '/{merchantCode}/subscriptionsRequested':
    post:
      summary: Notify merchant subscription request
      parameters: 
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - name: request
        in: body
        required: true
        schema:
          $ref: 'https://api.swaggerhub.com/domains/IMN/merchant-events/1.0#/definitions/externalMerchantMarketplaceSubscriptionsRequested'
      responses:
        204:
          description: Subscriptions's request have been integrated
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'