swagger: '2.0'
info:
  version: '1.0'
  title: 'External API - Merchant Marketplace Subscription Request'
  description: 'External API - Merchant Marketplace Subscription Request'

host: api.imn.io
basePath: /external/merchants/v1


x-IMN-api-ops:
  codeGenType: azure-functions 
  repo: IMN
  apiName: ExternalMerchantsV1
  appRoot: IMN.EXT.MER.WebService
  namespace: IMN.EXT.MER.WebService
  useBeezUPFrameworkVersion2: true
  comment: |
    Add sourceMarketplaceCode in the externalMerchantMarketplaceSubscriptions
    Added useBeezUPFrameworkVersion2 and comment properties. And usings
  using:
  - IMN.Schemas
  - IMN.MER.Schemas
  - IMN.MER.Exceptions
  - IMN.MER.Events

x-basePath: /external/merchants/v1


schemes:
  - https

consumes:
  - application/json
produces:
  - application/json
  
tags:
- name: Global



paths:

  '/subscriptionsRequested':
    post:
      tags: 
      - Global
      summary: Notify merchant subscriptions request
      operationId: PushMerchantSubscriptionsRequested
      parameters: 
      #- $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/externalMerchantMarketplaceSubscriptions'
      responses:
        204:
          description: Subscriptions's request have been integrated
        400:
          description: The subscription request utc date is in future
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/userErrorMessage'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
          
          
          
definitions: 
  externalMerchantMarketplaceSubscriptions:
    type: object
    description: When the merchant marketplace subscription has been requested
    required:
    - merchantCode
    - userId
    - sourceMarketplaceCode
    - targetMarketplacesSubscriptionRequested
    - subscriptionRequestUtcDate
    - salesforceSubscriptionId
    properties:
      merchantCode:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/merchantCode'
      userId:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/userId'
      sourceMarketplaceCode:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/marketplaceCode'
      targetMarketplacesSubscriptionRequested:
        type: array
        minItems: 1
        uniqueItems: true
        items:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/marketplaceCode'
      subscriptionRequestUtcDate:
        type: string
        format: date-time
        description: The exact date time of the subscription request
      salesforceSubscriptionId:
        type: string
        description: The Salesforce identifier of the subscription
        example: 'BLA0O00001v8aNuQAI'