swagger: '2.0'
info:
  version: '1.0'
  title: 'Marketplace - Merchants API'
  description: 'Marketplace - Merchants API'
  x-logo:
    url: https://imngo.blob.core.windows.net/imngo/images/imn-logo.png
    backgroundColor: "#FFFFFF"
  
  contact:
    email: support@imn.io
     
 
  license:
    name: IMN
    url: https://go.imn.io
    
host: api.imn.io
basePath: /marketplace/merchants/v1

x-IMN-api-ops:
  codeGenType: webapi
  repo: IMN
  appRoot: IMN.MKP.MER.WebService
  apiName: MarketplaceMerchantsV1
  namespace: IMN.MKP.MER.WebService
  useBeezUPFrameworkVersion2: true
  comment: |
    No change. Just server side generation.
  using:
  - IMN.Schemas
  - IMN.MER.Schemas
  - IMN.MER.Exceptions
  

x-basePath: /marketplace/merchants/v1


schemes:
  - https

consumes:
  - application/json
produces:
  - application/json
  
tags:
- name: Global
- name: Merchants
- name: Api Credentials
- name: Subscription
- name: Marketplace Merchant Code

paths: 

  '/{marketplaceCode}':
    get:
      tags: 
      - Global
      summary: Get marketplace index in the merchants API
      operationId: GetMarketplaceMerchantApiIndex
      parameters: 
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      responses:
        200:
          description: The Marketplace Merchant Api Index
          schema:
            $ref: '#/definitions/marketplaceMerchantApiIndex'
        404:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/marketplaceNotFound'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
            
  '/{marketplaceCode}/list':
    post:
      tags: 
      - Merchants
      summary: Get the list of merchants related to a marketplace
      operationId: GetMerchantList
      parameters: 
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/pageSizeQueryStringParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/pageNumberQueryStringParameter'
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/merchantListRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/merchantList'
        404:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/marketplaceNotFound'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
            
            
  '/{marketplaceCode}/{merchantCode}':
    get:
      tags: 
      - Merchants
      summary: Get the list of merchants related to a marketplace
      operationId: GetMerchantIndex
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      responses:
        200:
          description: The merchant index
          schema:
            $ref: '#/definitions/merchantIndex'
        404:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/merchantOrMarketplaceNotFound'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'

  '/{marketplaceCode}/{merchantCode}/apiCredential':
    get:
      tags: 
      - Api Credentials
      summary: Get the merchant API credential
      operationId: GetMerchantApiCredential
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      responses:
        200:
          description: The merchant API credential
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/marketplaceApiCredential'
        404:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/merchantOrMarketplaceNotFound'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'

    put:
      tags: 
      - Api Credentials
      summary: Save the marketplace API credential
      operationId: SaveMerchantApiCredential
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - name: credential
        in: body
        schema:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/marketplaceApiCredential'
        required: true
      responses:
        204:
          description: Merchant API credentials saved
        404:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/merchantOrMarketplaceNotFound'
        400:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/invalidMerchantCode'
        403:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/invalidMarketplaceCredential'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'



  '/{marketplaceCode}/{merchantCode}/subscription/accept':
    post:
      tags: 
      - Subscription
      summary: Accept a merchant subscription to a marketplace
      operationId: AcceptMerchantSubscription
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - name: credential
        in: body
        schema:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/marketplaceApiCredential'
        required: true
      responses:
        204:
          description: Merchant subscription accepted
        404:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/merchantOrMarketplaceNotFound'
        400:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/invalidMerchantCode'          
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'

  '/{marketplaceCode}/{merchantCode}/subscription/decline':
    post:
      tags: 
      - Subscription
      summary: Decline a merchant subscription to a marketplace
      operationId: DeclineMerchantSubscription
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - name: reason
        in: body
        schema:
          $ref: 'https://api.swaggerhub.com/domains/IMN/merchant-schemas/1.0#/definitions/merchantMarketplaceSubscriptionRefusalReason'
        required: true
      responses:
        204:
          description: Merchant subscription declined
        404:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/merchantOrMarketplaceNotFound'
        400:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/invalidMerchantCode'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
          
  '/{marketplaceCode}/{merchantCode}/subscription/block':
    post:
      tags: 
      - Subscription
      summary: Block a merchant subscription to the marketplace
      operationId: BlockMerchantSubscription
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - name: reason
        in: body
        schema:
          $ref: 'https://api.swaggerhub.com/domains/IMN/merchant-schemas/1.0#/definitions/merchantMarketplaceSubscriptionRefusalReason'
        required: true
      responses:
        204:
          description: Merchant subscription blocked
        404:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/merchantOrMarketplaceNotFound'
        400:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/invalidMerchantCode'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'


  '/{marketplaceCode}/{merchantCode}/marketplaceMerchantCode':
    put:
      tags: 
      - Marketplace Merchant Code
      summary: Configure marketplace merchant code
      operationId: ConfigureMarketplaceMerchantCode
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - name: marketplaceMerchantCode
        in: body
        schema:
          type: string
        required: true
      responses:
        204:
          description: Merchant subscription blocked
        404:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/merchantOrMarketplaceNotFound'
        400:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/invalidMerchantCode'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'



definitions:

  links.GetMerchantListLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3'
  
  marketplaceMerchantApiIndexLinks:
    type: object
    required: 
    - list
    properties:
      list:
        $ref: '#/definitions/links.GetMerchantListLink'
        
  marketplaceMerchantApiIndex:
    type: object
    required: 
    - links
    properties:
      links:
        $ref: '#/definitions/marketplaceMerchantApiIndexLinks'
    
  merchantListOrderBy:
    type: object
    required:
    - propertyName
    properties:
      propertyName:
        $ref: '#/definitions/merchantListOrderByOn'
      sort:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/sort'
      
  merchantListRequest:
    type: object
    properties:
      orderBy:
        $ref: '#/definitions/merchantListOrderBy'
        
      searchCompanyName:
        type: string
        description: Search merchants by the company name
        example: Literie
      searchMerchantCode:
        type: string
        description: Search merchants by the code
        example: MLT
        
  merchantListLinks:
    type: object
    required: 
    - self
    properties:
      self:
        $ref: '#/definitions/links.GetMerchantListLink'

  merchantList:
    type: object
    required: 
    - links
    properties:
      links:
        $ref: '#/definitions/merchantListLinks'
      merchants:
        type: array
        items:
          $ref: '#/definitions/merchantIndex' 
        
        
  links.GetMerchantApiCredentialLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3'

  links.GetMerchantIndexLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3'

  links.AcceptMerchantSubscriptionLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3'
  links.RefuseMerchantSubscriptionLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3'
  links.BlockMerchantSubscriptionLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3'
    
  merchantInfoLinks:
    type: object
    required:
    - apiCredential
    properties:
      self:
        $ref: '#/definitions/links.GetMerchantIndexLink'
      apiCredential:
        $ref: '#/definitions/links.GetMerchantApiCredentialLink'
      acceptSubscription:
        $ref: '#/definitions/links.AcceptMerchantSubscriptionLink'
      refuseSubscription:
        $ref: '#/definitions/links.RefuseMerchantSubscriptionLink'
      blockSubscription:
        $ref: '#/definitions/links.BlockMerchantSubscriptionLink'
        
  
  
  merchantIndex:
    type: object
    required:
    - info
    - links
    properties:
      info:
        $ref: '#/definitions/merchantInfo'
      links:
        $ref: '#/definitions/merchantInfoLinks'
  
  merchantInfo:
    type: object
    required:
    - code
    - email
    - companyName
    - firstName
    - lastName
    - phoneNumber
    - source
    - offerPublicationEnabled
    - orderImportationEnabled
    properties:
      code:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/merchantCode'
      email:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/email'
      companyName:
        $ref: 'https://api.swaggerhub.com/domains/IMN/merchant-schemas/1.0#/definitions/merchantCompanyName'
      firstName:
        type: string
      lastName:
        type: string
      phoneNumber:
        type: string
      subscriptionStatus:
        $ref: 'https://api.swaggerhub.com/domains/IMN/merchant-schemas/1.0#/definitions/marketplaceSubscriptionStatus'
      credentialStatus:
        $ref: 'https://api.swaggerhub.com/domains/IMN/merchant-schemas/1.0#/definitions/marketplaceCredentialStatus'
      shippingSettingsStatus:
        $ref: 'https://api.swaggerhub.com/domains/IMN/merchant-schemas/1.0#/definitions/marketplaceShippingSettingsStatus'
      source:
        type: boolean
        description: If true, this marketplace is the source of offers
        default: false
        example: false
      offerPublicationEnabled:
        type: boolean
      orderImportationEnabled:
        type: boolean
        

  merchantListOrderByOn:
    type: string
    description: Indicates on which property you want to order by the list of merchant
    default: modificationUtcDate
    enum:
    - merchantCode
    - creationUtcDate
    - modificationUtcDate
x-azure-api-id: 'MarketplaceMerchantsV1'