swagger: '2.0'
info:
  version: '1.0'
  title: 'Marketplace - Merchants API'
  description: 'Marketplace - Merchants API'
  x-logo:
    url: https://imngo.blob.core.windows.net/imngo/images/imn-logo.png
    backgroundColor: "#FFFFFF"
  
  contact:
    email: support@imn.io
     
 
  license:
    name: IMN
    url: https://go.imn.io
    
host: api.imn.io
basePath: /marketplace/merchants/v1

x-IMN-api-ops:
  codeGenType: webapi
  repo: IMN
  appRoot: IMN.MER.WebService
  apiName: MarketplacesV1
  namespace: IMN.MER.WebService
  useBeezUPFrameworkVersion2: true
  comment: |
    No change. Just server side generation.
  

x-basePath: /marketplace/merchants/v1


schemes:
  - https

consumes:
  - application/json
produces:
  - application/json
  
tags:
- name: Global
- name: Merchants
- name: Api Credentials
- name: Subscription

paths: 

  '/{marketplaceCode}':
    get:
      tags: 
      - Global
      summary: Get marketplace index in the merchants API
      operationId: GetMarketplaceMerchantApiIndex
      parameters: 
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      responses:
        200:
          description: The Marketplace Merchant Api Index
          schema:
            $ref: '#/definitions/marketplaceMerchantApiIndex'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
            
  '/{marketplaceCode}/list':
    post:
      tags: 
      - Merchants
      summary: Get the list of merchants related to a marketplace
      operationId: GetMerchantList
      parameters: 
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/pageSizeQueryStringParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/pageNumberQueryStringParameter'
      - name: orderBy
        in: query
        type: string
        enum:
        - code
        - creationUtcDate
        - modificationUtcDate
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/merchantListRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/merchantList'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
            
            
  '/{marketplaceCode}/{merchantCode}':
    get:
      tags: 
      - Merchants
      summary: Get the list of merchants related to a marketplace
      operationId: GetMerchantIndex
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      responses:
        200:
          description: The merchant index
          schema:
            $ref: '#/definitions/merchantIndex'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'

  '/{marketplaceCode}/{merchantCode}/apiCredential':
    get:
      tags: 
      - Api Credentials
      summary: Get the merchant API credential
      operationId: GetMerchantApiCredential
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      responses:
        '200':
          description: The merchant API credential
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/marketplaceApiCredential'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'

    put:
      tags: 
      - Api Credentials
      summary: Save the marketplace API credential
      operationId: SaveMerchantApiCredential
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - name: credential
        in: body
        schema:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/marketplaceApiCredential'
        required: true
      responses:
        '204':
          description: Merchant API credentials saved
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'



  '/{marketplaceCode}/{merchantCode}/subscription/accept':
    post:
      tags: 
      - Subscription
      summary: Get the list of merchants related to a marketplace
      operationId: AcceptMerchantSubscription
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - name: credential
        in: body
        schema:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/marketplaceApiCredential'
        required: true
      responses:
        '204':
          description: Merchant subscription accepted
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'

  '/{marketplaceCode}/{merchantCode}/subscription/refuse':
    post:
      tags: 
      - Subscription
      summary: Get the list of merchants related to a marketplace
      operationId: RefuseMerchantSubscription
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - name: reason
        in: body
        schema:
          $ref: 'https://api.swaggerhub.com/domains/IMN/merchant-schemas/1.0#/definitions/merchantMarketplaceSubscriptionRefusalReason'
        required: true
      responses:
        '204':
          description: Merchant subscription refused
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'


          
definitions:

  links.GetMerchantListLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3'
  
  marketplaceMerchantApiIndexLinks:
    type: object
    required: 
    - list
    properties:
      list:
        $ref: '#/definitions/links.GetMerchantListLink'
        
  marketplaceMerchantApiIndex:
    type: object
    required: 
    - links
    properties:
      links:
        $ref: '#/definitions/marketplaceMerchantApiIndexLinks'
        
  merchantListRequest:
    type: object
   
   
  merchantListLinks:
    type: object
    required: 
    - self
    properties:
      self:
        $ref: '#/definitions/links.GetMerchantListLink'

  merchantList:
    type: object
    required: 
    - links
    properties:
      links:
        $ref: '#/definitions/merchantListLinks'
      merchants:
        type: array
        items:
          $ref: '#/definitions/merchantIndex' 
        
        
  links.GetMerchantApiCredentialLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3'

  links.GetMerchantIndexLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3'

  links.AcceptMerchantSubscriptionLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3'
  links.RefuseMerchantSubscriptionLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3'
    
  merchantInfoLinks:
    type: object
    required:
    - apiCredential
    properties:
      self:
        $ref: '#/definitions/links.GetMerchantIndexLink'
      apiCredential:
        $ref: '#/definitions/links.GetMerchantApiCredentialLink'
      acceptSubscription:
        $ref: '#/definitions/links.AcceptMerchantSubscriptionLink'
      refuseSubscription:
        $ref: '#/definitions/links.RefuseMerchantSubscriptionLink'
        
  
  
  merchantIndex:
    type: object
    required:
    - info
    - links
    properties:
      info:
        $ref: '#/definitions/merchantInfo'
      links:
        $ref: '#/definitions/merchantInfoLinks'
  
  merchantInfo:
    type: object
    required:
    - code
    - email
    - companyName
    - firstName
    - lastName
    - phoneNumber
    - source
    - offerPublicationEnabled
    - orderImportationEnabled
    properties:
      code:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/merchantCode'
      email:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/email'
      companyName:
        $ref: 'https://api.swaggerhub.com/domains/IMN/merchant-schemas/1.0#/definitions/merchantCompanyName'
      firstName:
        type: string
      lastName:
        type: string
      phoneNumber:
        type: string
      subscriptionStatus:
        $ref: 'https://api.swaggerhub.com/domains/IMN/merchant-schemas/1.0#/definitions/marketplaceSubscriptionStatus'
      credentialStatus:
        $ref: 'https://api.swaggerhub.com/domains/IMN/merchant-schemas/1.0#/definitions/marketplaceCredentialStatus'
      transportSettingsStatus:
        $ref: 'https://api.swaggerhub.com/domains/IMN/merchant-schemas/1.0#/definitions/marketplaceTransportSettingsStatus'
      source:
        type: boolean
        description: If true, this marketplace is the source of offers
        default: false
        example: false
      offerPublicationEnabled:
        type: boolean
      orderImportationEnabled:
        type: boolean