swagger: '2.0'
info:
  title: 'Marketplace API - Offers'
  description: 'This API will allow you to manage your merchant offers .'

  version: "1.0"
  
  x-logo:
    url: 'https://imngo.blob.core.windows.net/imngo/images/imn-logo.png'
    backgroundColor: '#FFFFFF'
  
  contact:
    email: support@imn.io
     
 
  license:
    name: IMN
    url: https://go.imn.io


host: api.imn.io
basePath: /marketplace/offers/v1

x-IMN-api-ops:
  codeGenType: webapi
  repo: IMN
  apiName: MarketplaceOffersV1
  appRoot: IMN.MKP.Offer.WebService
  namespace: IMN.MKP.Offer.WebService
  useBeezUPFrameworkVersion2: true
  comment: |
    No change. Just server side generation.
  using:
  - IMN.Schemas
  - IMN.MER.Schemas
  - IMN.Offer.Messages
  

x-basePath: /marketplace/offers/v1


schemes:
  - https

consumes:
  - application/json
produces:
  - application/json
  
tags:
- name: Global

x-azure-api-id: 'MarketplaceOffersV1'  



paths:
  
  '/{marketplaceCode}/{merchantCode}/events':
    post:
      tags:
      - Global
      summary: Save a batch of merchant offers
      operationId: SaveMerchantOfferBatch
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - name: request
        in: body
        schema:
          $ref: 'https://api.swaggerhub.com/domains/IMN/offer-messages/1.0#/definitions/batchMerchantOfferChanges'
        required: true
      responses:
        '204':
          description: The merchant offers changes have been saved!
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
          
          
definitions: {}