swagger: '2.0'
info:
  title: 'Merchant API - Offers'
  description: 'This API will allow you to manage your offers.'

  version: '1.0'
  
  x-logo:
    url: 'https://imngo.blob.core.windows.net/imngo/images/imn-logo.png'
    backgroundColor: '#FFFFFF'
  
  contact:
    email: support@imn.io
     
 
  license:
    name: IMN
    url: https://go.imn.io


host: api.imn.io
basePath: /merchant/offers/v1

x-IMN-api-ops:
  codeGenType: webapi
  repo: IMN
  apiName: MerchantOffersV1
  appRoot: IMN.MER.Offer.WebService
  namespace: IMN.MER.Offer.WebService
  useBeezUPFrameworkVersion2: true
  comment: |
    No change. Just server side generation.
  using:
  - IMN.Schemas
  

x-basePath: /merchant/offers/v1


schemes:
  - https

consumes:
  - application/json
produces:
  - application/json
  
tags:
- name: Global

x-azure-api-id: 'MerchantOffersV1'  


# Under securityDefinitions we declare which security schemes can be used.
# These definitions do not affect to the operations, but can be applied
# using the 'security' key at the global level or the operation level.
# In this sample, we'll see how to apply the security definition globally,
# and override it at the operation level.
#
# Note that for Implicit Flow, you must provide the Token URL.
securityDefinitions:
  implicit:
    type: oauth2
    # This should be updated to the Authorization URL of your OAuth provider.
    authorizationUrl: 'https://login.microsoftonline.com/imnb2ctenant.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1_sign_up_or_sign_in_light&response_mode=fragment'
    flow: implicit
    scopes:
      user_impersonation: Access this app on behalf of the signed-in user

# Here we apply the security flow called 'implicit' globally to all the opeartions in the spec. 
# This security scheme is defined above in the 'securityDefinitions' section.
# Global security can be overriden an operation level as seen in the example below
security:
  - implicit:
    - user_impersonation
    
paths:
  
  '/{merchantCode}':
    post:
      tags:
      - Global
      summary: Save a batch of merchant offers
      operationId: SaveMerchantOfferBatch
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - name: request
        in: body
        schema:
          $ref: 'https://api.swaggerhub.com/domains/IMN/offer-messages/1.0#/definitions/batchMerchantOfferChanges'
      responses:
        '204':
          description: The merchant offers changes have been saved!
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
          
definitions: {}