swagger: '2.0'
info:
  title: Merchant API - Public - List of Values
  description: This API gives you public list of values.
  version: "1.0"
  contact:
    email: support@beezup.com
    
 
  license:
    name: IMN 
    url: https://go.imn.io
  

host: merchantapi.imn.io
basePath: /v1/public/lov
schemes:
  - https


consumes:
  - application/json
produces:
  - application/json
tags:
- name: LOV
  description: All LOV operations

paths:
  /:
    get:
      summary: Get all list names
      operationId: GetPublicLovIndex
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/ifNoneMatchParameter'
      tags:
      - LOV
      responses:
        '200':
          description: Get the list names
          headers:
            ETag:
              description: The ETag corresponding to the LOV Index
              type: string
            Cache-Control:
              description: |
                Indicates the directive around the caching mechanisms.\
                For more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9
              type: array
              collectionFormat: csv
              items:
                type: string

          schema:
            $ref: '#/definitions/publicLovIndex'
        304:
          description: The ETag sent in the http header If-None-Match did not change. So you can keep your version.
          headers:
            ETag:
              description: The ETag corresponding to the LOV Index
              type: string
              
            Cache-Control:
              description: |
                Indicates the directive around the caching mechanisms.\
                For more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9
              type: array
              collectionFormat: csv
              items:
                type: string
          
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'

            
  '/{listName}':
    get:
      tags:
      - LOV
      summary: Get the list of values related to this list name
      operationId: GetPublicListOfValues
      parameters:
# [Style Validator (a66efd26-2012-493f-943c-260cdf7c1a75) : underscore_case]: 'listName' does not comply with the rule
        - name: listName
          in: path
          required: true
          description: The list of value name your want to get
          type: string 
        - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/acceptLanguageParameter'
        - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/ifNoneMatchParameter'
      responses:
        '200':
          description: The list of values
          headers:
            ETag:
              description: The ETag corresponding to the LOV Index
              type: string
              
            Cache-Control:
              description: |
                Indicates the directive around the caching mechanisms.\
                For more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9
              type: array
              collectionFormat: csv
              items:
                type: string

            Content-Language:
              description: Indicates the language use in the response
              type: array
              collectionFormat: csv
              items:
                type: string
                
              
          schema:
            $ref: '#/definitions/publicListOfValuesResponse'
        304:
          description: The ETag sent in the http header If-None-Match did not change. So you can keep your version.
          headers:
            ETag:
              description: The ETag corresponding to the LOV Index
              type: string
              
            Cache-Control:
              description: |
                Indicates the directive around the caching mechanisms.\
                For more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9
              type: array
              collectionFormat: csv
              items:
                type: string

        404:
          description: List not found
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/IMN.Common.ErrorResponseMessage'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'




definitions:

  publicLovIndex:
    type: object
    properties:
      links:
        $ref: '#/definitions/publicLovIndexLinks'
        
  publicLovIndexLinks:
    type: object
    properties:
      self:
        $ref: '#/definitions/links.GetPublicLovIndexLink'

      lists:
        $ref: '#/definitions/publicLovLinks'



  publicLovLinks:
    description: List of lov link. The key is the list name.
    type: object
    additionalProperties:
      $ref: '#/definitions/links.GetPublicListOfValuesLink'


  links.GetPublicListOfValuesLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/IMN.Common.Link3'
    - example:
        href: /v1/public/lov/Go2CultureName
        method: GET

  
  links.GetPublicLovIndexLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/IMN.Common.Link3'
    - example:
        href: /v1/public/lov
        method: GET
        




  publicListOfValuesResponse:
    type: object
    properties:
      links:
        $ref: '#/definitions/publicListOfValuesResponseLinks'
# [Style Validator (82c24f10-f19e-4e3a-b997-49d420985351) : All model properties must have examples]: Field 'example' required in 'properties'
# [Style Validator (ad0947ac-a4e0-4747-9d7d-a32c625210da) : All model properties must have examples]: Field 'example' required in 'properties'
# [Style Validator (a66efd26-2012-493f-943c-260cdf7c1a75) : All model properties must have examples]: Field 'example' required in 'properties'
      items:
        type: array
        items:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/IMN.Common.ListOfValueItem'
        
  
  
  publicListOfValuesResponseLinks:
    type: object
    properties:
      self:
        $ref: '#/definitions/links.GetPublicListOfValuesLink'
    

x-azure-api-id: 'v2publiclov'