swagger: '2.0'
info:
  title: 'Gateway API - Offers'
  description: 'This API will allow you to manage your offers from the marketplace.'

  version: "1.0"
  
  x-logo:
    url: https://imngo.blob.core.windows.net/imngo/images/imn-logo.png
    backgroundColor: "#FFFFFF"
  
  contact:
    email: support@imn.io
     
 
  license:
    name: IMN
    url: https://go.imn.io


host: api.imn.io
basePath: /gateway/offers/v1



x-IMN-api-ops:
  codeGenType: webapi
  useBeezUPFrameworkVersion2: true
  product: IMN-ADPT
  group: adpt-offerpub
  repo: IMN
  apiName: GatewayOffersV1
  appRoot: IMN.ADPT.Offers.WebService
  applicationShortName: Offers.WebService
  namespace: IMN.ADPT.Offers.WebService
  comment: |
    No change. Just server side generation.
  using:
  - IMN.Schemas
  - IMN.Offer.Messages
  - BeezUP2.Framework.Messaging
  - IMN.Exceptions
  - IMN.Offer.Exceptions
  references:
  - IMN.Offer.Helpers
  - IMN.Exceptions
  - IMN.Offer.Exceptions


x-basePath: /gateway/offers/v1


schemes:
  - https

consumes:
  - application/json
produces:
  - application/json
  
tags:
- name: Global





paths: 


  '/{marketplaceCode}/ping':
    post:
      tags:
        - Global
      summary: Ping the status of your offer system
      operationId: PingGatewayOfferApi
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      responses:
        200:
          description: The status of the API is up!
          schema:
            type: array
            items:
              $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/healthCheck'
        503:
          description: The status of your API is down...
          schema:
            type: array
            items:
              $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/healthCheck'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'



  '/{marketplaceCode}/{merchantCode}/events':
    post:
      tags:
        - Global
      summary: Push a batch of merchant marketplace offers events
      operationId: PushMerchantOfferEvents
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - name: request
        in: body
        schema:
          $ref: 'https://api.swaggerhub.com/domains/IMN/offer-messages/1.0#/definitions/batchMerchantMarketplaceOfferChanges'
      responses:
        '204':
          description: The merchant offers changes have been saved!
        '400':
          $ref: 'https://api.swaggerhub.com/domains/IMN/offer-exceptions/1.0#/responses/offerBatchBadRequest'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'



  '/{marketplaceCode}/{merchantCode}/purge/{correlationId}':
    post:
      tags:
        - Global
      summary: Purge existing offers
      description: |
        This operation could will be called for the following reason:
        - the merchant wants to disable the offer publication to your marketplace and ask to purge his offers on your marketplace
        - the merchant wants to purge his existing offers before publishing his offers coming from IMN
        
        The expected behavior by marketplace are:
        - purge existing offers of the merchant 
        - notify IMN about the completion of the purge operation by calling this /marektplace/offers/v1/{marketplaceCode}/{merchantCode}/purge/{correlationId}/done|failed if the purge succeed or failed
      operationId: PurgeExistingOffers
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/correlationIdParameter'
      responses:
        '204':
          description: The purge request has been received.
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'




x-azure-api-id: 'GatewayOffersV1'