swagger: '2.0'
info:
  title: 'Merchant - Account API'
  description: 'This API will allow you to manage your account.'
# Added by API Auto Mocking Plugin

  version: "1.0"
  
  x-logo:
    url: "https://avatars0.githubusercontent.com/u/25665430"
    backgroundColor: "#FFFFFF"
  
  contact:
    email: support@imn.io
     
 
  license:
    name: IMN
    url: https://go.imn.io
    
host: api.imn.io
basePath: /merchant/account/v1

x-IMN-api-ops:
  codeGenType: webapi
  repo: IMN
  apiName: MerchantAccountV1
  appRoot: IMN.MER.ACC.WebService
  namespace: IMN.MER.ACC.WebService
  applicationShortName: MER.ACC.WS
  useBeezUPFrameworkVersion2: true
  comment: |
    No change. Just server side generation.
  using:
  - IMN.Schemas
  - IMN.MER.Schemas
  - IMN.MER.Exceptions
  references:
  - IMN.MER.Schemas
  - IMN.MER.Exceptions
  - IMN.Exceptions

x-basePath: /merchant/account/v1


schemes:
  - https

consumes:
  - application/json
produces:
  - application/json
  
tags:
- name: Global
- name: Account
- name: Api Token


# Under securityDefinitions we declare which security schemes can be used.
# These definitions do not affect to the operations, but can be applied
# using the 'security' key at the global level or the operation level.
# In this sample, we'll see how to apply the security definition globally,
# and override it at the operation level.
#
# Note that for Implicit Flow, you must provide the Token URL.
securityDefinitions:
  implicit:
    type: oauth2
    # This should be updated to the Authorization URL of your OAuth provider.
    authorizationUrl: 'https://login.microsoftonline.com/imnb2ctenant.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1_sign_up_or_sign_in_light&response_mode=fragment'
    flow: implicit
    scopes:
      https://imnb2ctenant.onmicrosoft.com/swaggerhub/read_write: Access this app on behalf of the signed-in user

# Here we apply the security flow called 'implicit' globally to all the opeartions in the spec. 
# This security scheme is defined above in the 'securityDefinitions' section.
# Global security can be overriden an operation level as seen in the example below
security:
  - implicit:
    - https://imnb2ctenant.onmicrosoft.com/swaggerhub/read_write

paths: 


  '/':
    get:
      tags:
      - Global
      summary: Get the merchant account index
      operationId: GetMerchantAccountIndex
      responses:
        '200':
          description: The merchant account index
          schema:
            $ref: '#/definitions/merchantAccountIndex'
        '401':
          description: The merchant informations are not available
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/userErrorMessage'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
  


  '/checkMerchantCodeAvailability':
   post:
     tags:
     - Global
     summary: Check if merchant code is available
     operationId: CheckMerchantCodeAvailability
     parameters:
     - name: merchantCode
       in: body
       required: true
       schema:
         $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/merchantCode'
     responses:
       '204':
         description: The merchant code is available
       '409':
         description: The merchant code is not available
         schema:
           $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/userErrorMessage'
       default:
         $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
  
  
  '/create':
   post:
     tags:
     - Global
     summary: Create the merchant account using the merchant code
     operationId: CreateMerchantAccount
     parameters:
     - name: request
       in: body
       required: true
       schema:
        $ref: '#/definitions/createMerchantAccountRequest'
     responses:
       '204':
         description: The merchant code has been created
       '400':
         description: The merchant code or some values are invalid. Please check the error message.
         schema:
           $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/userErrorMessage'
       '409':
         $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/merchantCodeAlreadyUsed'
       default:
         $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
  
  

   
  '/{merchantCode}':
   get:
     tags:
     - Account
     summary: Get merchant account info
     operationId: GetMerchantAccountInfo
     parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
     responses:
       '200':
         description: The merchant account info
         schema:
           $ref: '#/definitions/merchantAccountInfo'
       '404':
         $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/merchantNotFound'
       default:
         $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
   
   patch:
     tags:
     - Account
     summary: Save merchant account info
     operationId: UpdateMerchantAcountInfo
     parameters:
       - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
       - name: request
         in: body
         required: true
         description: The merchant account info update request
         schema:
           $ref: '#/definitions/updateMerchantAccountRequest'
           
     responses:
       204:
         description: Merchant account info updated
       400:
         $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/invalidMerchantCode'
       404:
         $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/merchantNotFound'
       default:
         $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
    
  '/{merchantCode}/resetApiToken':
   post:
     tags:
     - Api Token
     summary: Reset merchant api token
     operationId: ResetMerchantApiToken
     parameters:
       - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
     responses:
       '204':
         description: Merchant api token reset
       '404':
         $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/merchantNotFound'
       default:
         $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'

    
    
definitions:

  httpUrl:
    x-exclude: true
    description: 'The URL <a href="https://en.wikipedia.org/wiki/URL">https://en.wikipedia.org/wiki/URL</a>'
    type: string
    #format: email
    pattern: ^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$
    example: http://www.mydomain.com

  merchantAccountIndexLinks:
    type: object
    description: |
      The action you can do on the account API
      The create and checkMerchantCode link will be available when the merchant code is not created
      The account link will be available when the merchant has be created  
    properties:
      create:
        $ref: '#/definitions/links.CreateMerchantAccountLink'
      checkMerchantCode:
        $ref: '#/definitions/links.CheckMerchantCodeAvailabilityLink'
      accountInfo:
        $ref: '#/definitions/links.GetMerchantAccountInfoLink'


  merchantAccountIndex:
    type: object
    required:
    - links
    properties:
      links:
        $ref: '#/definitions/merchantAccountIndexLinks'
      merchantCode:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/merchantCode'


  


  createMerchantAccountRequest:
    type: object
    required:
    - code
    - firstName
    - lastName
    - country
    - companyName
    - phoneNumber
    - currencyCode
    - ecommerceSoftwareName
    properties:
      code:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/merchantCode'
      firstName:
        type: string
        example: Marilyn
      lastName:
        type: string
        example: MONROE
      country:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/countryIsoCodeAlpha3'
      companyName:
       $ref: 'https://api.swaggerhub.com/domains/IMN/merchant-schemas/1.0#/definitions/merchantCompanyName'
      imageUrl:
        $ref: '#/definitions/httpUrl'
      phoneNumber:
        type: string
        example: 0663963036
      currencyCode:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/currencyCode'
      ecommerceSoftwareName:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/ecommerceSoftwareName'

 
  updateMerchantAccountRequest:
    type: object
    required:
     - firstName
     - lastName
     - country
     - companyName
     - phoneNumber
     - currencyCode
     - ecommerceSoftwareName
    properties:
      firstName:
        type: string
        example: Marilyn
      lastName:
        type: string
        example: MONROE
      country:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/countryIsoCodeAlpha3'
      companyName:
        $ref: 'https://api.swaggerhub.com/domains/IMN/merchant-schemas/1.0#/definitions/merchantCompanyName'
      phoneNumber:
        type: string
        example: 0663963036
      imageUrl:
        $ref: '#/definitions/httpUrl'
      currencyCode:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/currencyCode'
      ecommerceSoftwareName:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/ecommerceSoftwareName'




  merchantAccountInfo:
    type: object
    required:
    - merchantCode
    - email
    - firstName
    - lastName
    - country
    - companyName
    - phoneNumber
    - apiToken
    - currencyCode
    - links
    properties:
      merchantCode:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/merchantCode'
      email:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/email'
      firstName:
        type: string
        example: Marilyn
      lastName:
        type: string
        example: MONROE
      country:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/countryIsoCodeAlpha3'
      companyName:
        $ref: 'https://api.swaggerhub.com/domains/IMN/merchant-schemas/1.0#/definitions/merchantCompanyName'
      phoneNumber:
        type: string
        example: 0663963036
      imageUrl:
        $ref: '#/definitions/httpUrl'
      currencyCode:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/currencyCode'
      apiToken:
        type: string
        description: The api token that you will have to use to connect to our API
        example: '2b1ff3a068054433ac09224bbb1ff3a068054433ac09224bb0c9d7ea=='
      ecommerceSoftwareName:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/ecommerceSoftwareName'
# [Style Validator (6ca033b6-0d03-4b35-ab93-3c7900fc8363) : All model properties must have examples]: Field 'example' required in 'properties'
      importedOfferCount:
        type: integer
        format: int32
        description: Imported offer count from the source marketplace or from his shop system source

      links:
        $ref: '#/definitions/merchantAccountInfoLinks'
        
      
  merchantAccountInfoLinks:
    type: object
    description: |
      The action you can do on a merchant.
      The external link will be avaible if there is no subscription requested 
    required:
    - self
    - update
    - resetApiToken
    properties:
      self:
        $ref: '#/definitions/links.GetMerchantAccountInfoLink'
      update:
        $ref: '#/definitions/links.UpdateMerchantAcountInfoLink'
      resetApiToken:
        $ref: '#/definitions/links.ResetMerchantApiTokenLink'
      externalMarketplaceSubscription:
        $ref: '#/definitions/links.ExternalMarketplaceSubscriptionFormLink'
      
######################################################################################################
##############                  LINKS                                 ################################
######################################################################################################
  
  links.CreateMerchantAccountLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3'
    - type: object
      example:
        href: /merchant/account/v1/create
        method: POST
        
  links.CheckMerchantCodeAvailabilityLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3'
    - type: object
      example:
        href: /merchant/account/v1/checkMerchantCode
        method: GET

  links.GetMerchantAccountInfoLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3'
    - type: object
      example:
        href: /merchant/account/v1/MLT01
        method: GET

  links.ResetMerchantApiTokenLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3'
    - type: object
      example:
        href: /merchant/account/v1/MLT01/resetApiToken
        method: POST
  
  links.UpdateMerchantAcountInfoLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3'
    - type: object
      example:
        href: /merchant/account/v1/MLT01
        method: PATCH
        
  links.ExternalMarketplaceSubscriptionFormLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3'
    - type: object
      description:  |
        The link to sales force form to easily subscribe to the marketplaces
        The query string will be indicated by the server: 
        - email: the email of the merchant
        - merchantCode: The merchant code 
        - hmac: Computed by the server with a shared secret key
        
      example:
        href: https://imn-developer-edition.eu9.force.com/?email=myemail@mydomain.com&merchantCode=MLT01&hmac=M2JiMmFkY2QwMTY1MjhkM2Y3ZGFmMGZlNjE5ODk1ZDE5NDVjMWQzZGRmNjMyNzkyYzVlMTZmZDQ1YmM1M2ZlOA==#general
        method: GET

x-azure-api-id: 'MerchantAccountV1'