swagger: '2.0'
info:
  version: "1.0"
  title: Marketplaces - Orders
  description: |
    The features exposed in this API are centered around managing Orders harvested from your configured marketplaces.\
    This includes:
    - fetching current information (as known by IMN) for a single or multiple Orders,
    - requesting Order harvest to synchronize your marketplaces,
    - changing IMN data and requesting changes to your marketplaces (accepting, shipping, etc),
    - configuring automatic changes to marketplace based our newly fetched data,
    - creating and exporting reports for your Orders.
  x-logo:
    url: "https://avatars0.githubusercontent.com/u/25665430"
    backgroundColor: "#FFFFFF"

  contact:
    email: help@imn.io

  license:
    name: IMN
    url: http://www.imn.io

x-imn-api-ops:
  repo: IMN
  appRoot: IMN.MER.Orders.WebService
  namespace: IMN.MER.Orders.WebService
  apiName: MerchantOrdersV1
  comment: |
    First document
    regen

x-host: api.imn.io
x-basePath: /merchant/orders/v1

externalDocs:
  description: IMN API documentation
  url: https://api-docs.imn.io

x-servers:
- url: https://api.imn.io/merchant/orders/v1
  description: Production Server

schemes:
  - https

# tags are used for organizing operations
tags:
- name: Global
  description: All global operations (cross marketplace)

- name: List
  description: All Order list operations

- name: Order
  description: All operations related to a single Order

- name: Batches
  description: All batch operations on Orders to reduce call rate

- name: Subscriptions - DRAFT
  description: All orders subscription operations - DRAFT

consumes:
  - application/json
produces:
  - application/json


paths:

  '/{merchantCode}':
    get:
      tags:
      - Global
      x-tagGroups: Marketplaces Orders
      operationId: GetOrderApiIndex
      summary: Get all actions you can do on the order API
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/ifNoneMatchParameter'
      responses:
        200:
          description: Order API index
          schema:
            $ref: '#/definitions/orderApiIndex'
        304:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/304_NotModified'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false


  '/{merchantCode}/list/full':
    post:
      tags:
      - List
      operationId: GetOrderListFull
      summary: Get a paginated list of all Orders with all Order and Order Item(s) properties
      description: |
        The purpose of this operation is to reduce the amount of request to the API.\
        \
        Previous implmentation of this feature only returned a partial (light) version of the Orders. The purpose of this API is to reduce the number of incoming requests by returning the complete (full) Order and Order Item(s) properties.
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'Accept-Encoding' does not comply with the rule
      - name: 'Accept-Encoding'
        description: Allows the client to indicate wether it accepts a compressed encoding to reduce traffic size
        in: header
        required: true
        type: array
        collectionFormat: csv
        items:
          type: string
        #x-example:
        #- gzip
        #- deflate
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/orderListRequest'
      responses:
        200:
          description: Successfully fetched the full list of Orders
          schema:
            $ref: '#/definitions/orderListFull'
        400:
          description: Could not process request for given parameters values. Please check error message for more details.
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false

  '/{merchantCode}/list/light':
    post:
      tags:
      - List
      operationId: GetOrderListLight
      summary:  Get a paginated list of all Orders without details
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/orderListRequest'
      responses:
        200:
          description: Successfully fetched the list of Orders
          schema:
            $ref: '#/definitions/orderListLight'
        400:
          description: Could not process request for given parameters values. Please check error message for more details.
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false



  '/{merchantCode}/batches/setMerchantOrderInfos':
    post:
      tags:
      - Batches
      operationId: SetMerchantOrderInfoList
      summary: Send a batch of operations to set an Order's merchant information  (max 100 items per call)
      description: The purpose of this operation is to reduce the amount of request to the API.
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/setMerchantOrderInfoListRequest'
      responses:
        202:
          description: Succesfully received and processed batched operations. Please check response to see the status per operation.
          schema:
            $ref: '#/definitions/batchOrderOperationResponse'
        400:
          description: Requested too many batch operations
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false

  '/{merchantCode}/batches/clearMerchantOrderInfos':
    post:
      tags:
      - Batches
      operationId: ClearMerchantOrderInfoList
      summary: Send a batch of operations to clear an Order's merchant information (max 100 items per call)
      description: The purpose of this operation is to reduce the amount of request to the API.
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/clearMerchantOrderInfoListRequest'
      responses:
        202:
          description: Succesfully received and processed batched operations. Please check response to see the status per operation.
          schema:
            $ref: '#/definitions/batchOrderOperationResponse'
        400:
          description: Requested too many batch operations
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false


  '/{merchantCode}/batches/ship':
    post:
      tags:
      - Batches
      operationId: ShipOrderList
      summary: Ship multiple marketplace orders in one operation
      description: The purpose of this operation is to reduce the amount of request to the API.
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/userNameInQueryParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/testModeInQueryParameter'
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/shipOrderListRequest'
      responses:
        202:
          description: Succesfully received and processed batched operations. Please check response to see the status per operation.
          schema:
            $ref: '#/definitions/batchOrderOperationResponse'
        400:
          description: Requested too many batch operations
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false



  '/{merchantCode}/batches/refund':
    post:
      tags:
      - Batches
      operationId: RefundOrderList
      summary: Refund multiple marketplace orders in one operation
      description: The purpose of this operation is to reduce the amount of request to the API.
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/userNameInQueryParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/testModeInQueryParameter'
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/refundOrderListRequest'
      responses:
        202:
          description: Succesfully received and processed batched operations. Please check response to see the status per operation.
          schema:
            $ref: '#/definitions/batchOrderOperationResponse'
        400:
          description: Requested too many batch operations
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false


  '/{merchantCode}/batches/accept':
    post:
      tags:
      - Batches
      operationId: AcceptOrderList
      summary: Accept multiple marketplace orders in one operation
      description: The purpose of this operation is to reduce the amount of request to the API.
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/userNameInQueryParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/testModeInQueryParameter'
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/acceptOrderListRequest'
      responses:
        202:
          description: Succesfully received and processed batched operations. Please check response to see the status per operation.
          schema:
            $ref: '#/definitions/batchOrderOperationResponse'
        400:
          description: Requested too many batch operations
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false



  '/{merchantCode}/batches/cancel':
    post:
      tags:
      - Batches
      operationId: CancelOrderList
      summary: Cancel multiple marketplace orders in one operation
      description: The purpose of this operation is to reduce the amount of request to the API.
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/userNameInQueryParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/testModeInQueryParameter'
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/cancelOrderListRequest'
      responses:
        202:
          description: Succesfully received and processed batched operations. Please check response to see the status per operation.
          schema:
            $ref: '#/definitions/batchOrderOperationResponse'
        400:
          description: Requested too many batch operations
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false




  '/{merchantCode}/{marketplaceCode}/{imnOrderId}':
    head:
      tags:
      - Order
      operationId: HeadOrder
      summary: Get the meta information about the order (ETag, Last-Modified)
      description: |
        The purpose of this operation is to reduce the bandwith usage by getting just the meta information about the order (ETag, Last-Modified) with the body.
        This could be useful
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/imnOrderIdParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/ifNoneMatchParameter'
      responses:
        200:
          description: Successfully fetched Order and Order Item(s) properties
          headers:
            'Last-Modified':
              type: string
              format: date-time
              description: |
                Last modification UTC date of the order\
                For more details go to this link: https://tools.ietf.org/html/rfc7232#section-2.2

            ETag:
              type: string
              description: |
                ETag value to identify the current version of requested Order\
                For more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3
        304:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/304_NotModified'
        404:
          description: Requested Order could not be found
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false
    get:
      tags:
      - Order
      operationId: GetOrder
      summary: Get full Order and Order Item(s) properties
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/imnOrderIdParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/ifNoneMatchParameter'
      responses:
        200:
          description: Successfully fetched Order and Order Item(s) properties
          headers:
            'Last-Modified':
              type: string
              format: date-time
              description: |
                Last modification UTC date of the order\
                For more details go to this link: https://tools.ietf.org/html/rfc7232#section-2.2
            ETag:
              type: string
              description: |
                ETag value to identify the current version of requested Order\
                For more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3
          schema:
            $ref: '#/definitions/order'
        304:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/304_NotModified'
        404:
          description: Requested Order could not be found
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false

  '/{merchantCode}/{marketplaceCode}/{imnOrderId}/history':
    get:
      tags:
      - Order
      operationId: GetOrderHistory
      summary: Get an Order's harvest and change history
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/imnOrderIdParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/ifNoneMatchParameter'
      responses:
        200:
          description: Successfully fetched Order history
          schema:
            $ref: '#/definitions/orderHistory'
        304:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/304_NotModified'
        404:
          description: Requested Order could not be found
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false

  '/{merchantCode}/{marketplaceCode}/{imnOrderId}/setMerchantOrderInfo':
    post:
      tags:
      - Order
      operationId: SetMerchantOrderInfo
      summary: Set an Order's merchant information
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/imnOrderIdParameter'
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/setMerchantOrderInfoRequest'
      responses:
        204:
          description: Successfully set Order merchant order info set
        400:
          description: Could not update Order merchant information. Please see body for more information.
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        404:
          description: Requested Order could not be found
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false

  '/{merchantCode}/{marketplaceCode}/{imnOrderId}/clearMerchantOrderInfo':
    post:
      tags:
      - Order
      operationId: ClearMerchantOrderInfo
      summary: Clear an Order's merchant information
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/imnOrderIdParameter'
      responses:
        204:
          description: Successfully cleared Order merchant order info set
        400:
          description: Could not update Order merchant information. Please see body for more information.
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        404:
          description: Requested Order could not be found
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false


  '/{merchantCode}/{marketplaceCode}/{imnOrderId}/accept':
    post:
      tags:
      - Order
      operationId: AcceptOrder
      summary: Accept your marketplace order
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/imnOrderIdParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/userNameInQueryParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/testModeInQueryParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/ifMatchParameter'
      responses:
        202:
          description: Order accept request accepted
        400:
          description: Invalid order accept request, could not be send to the marketplace. Please check your request.
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        404:
          description: Requested Order could not be found
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        409:
          description: |
            Already processing a change request for this Order.\
            Please refresh your clients Order information and retry later.
          headers:
            Retry-After:
              type: integer
              description: Indicates the duration in seconds to wait to be able to make this request again
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        412:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/412_PreConditionFailed'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false


  '/{merchantCode}/{marketplaceCode}/{imnOrderId}/cancel':
    post:
      tags:
      - Order
      operationId: CancelOrder
      summary: Cancel your marketplace order
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/imnOrderIdParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/userNameInQueryParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/testModeInQueryParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/ifMatchParameter'
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/cancelOrderRequest'
      responses:
        202:
          description: Order cancel request accepted
        400:
          description: Invalid order cancel request, could not be send to the marketplace. Please check your request.
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        404:
          description: Requested Order could not be found
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        409:
          description: |
            Already processing a change request for this Order.\
            Please refresh your clients Order information and retry later.
          headers:
            Retry-After:
              type: integer
              description: Indicates the duration in seconds to wait to be able to make this request again
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        412:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/412_PreConditionFailed'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false


  '/{merchantCode}/{marketplaceCode}/{imnOrderId}/ship':
    post:
      tags:
      - Order
      operationId: ShipOrder
      summary: Ship your marketplace order
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/imnOrderIdParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/userNameInQueryParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/testModeInQueryParameter'

      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/shipOrderRequest'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/ifMatchParameter'
      responses:
        202:
          description: Order ship request accepted
        400:
          description: Invalid order ship request, could not be send to the marketplace. Please check the body of this request.
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        404:
          description: Requested Order could not be found
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        409:
          description: |
            Already processing a change request for this Order.\
            Please refresh your clients Order information and retry later.
          headers:
            Retry-After:
              type: integer
              description: Indicates the duration in seconds to wait to be able to make this request again
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        412:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/412_PreConditionFailed'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false



  '/{merchantCode}/{marketplaceCode}/{imnOrderId}/refund':
    post:
      tags:
      - Order
      operationId: RefundOrder
      summary: Refund your marketplace order
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/imnOrderIdParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/userNameInQueryParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/testModeInQueryParameter'

      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/refundOrderRequest'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/ifMatchParameter'
      responses:
        202:
          description: Order refund request accepted
        400:
          description: Invalid order refund request, could not be send to the marketplace. Please check the body of this request.
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        404:
          description: Requested Order could not be found
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        409:
          description: |
            Already processing a change request for this Order.\
            Please refresh your clients Order information and retry later.
          headers:
            Retry-After:
              type: integer
              description: Indicates the duration in seconds to wait to be able to make this request again
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        412:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/412_PreConditionFailed'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false




  '/{merchantCode}/subscriptions':
    post:
      tags:
      - Subscriptions - DRAFT
      operationId: CreateSubscription
      summary: Creates a subscription to the orders
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/createSubscriptionRequest'
      responses:
        201:
          description: Subscription created
          schema:
            $ref: '#/definitions/subscription'
        400:
          description: Invalid subscription request.
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        409:
          description: |
            There is already a subscription on for the same eventType and the same target Url.
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false

    get:
      tags:
      - Subscriptions - DRAFT
      operationId: GetSubscriptionList
      summary: Get the subscription list
      parameters: 
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'

      responses:
        200:
          description: The suscription list
          schema:
            type: array
            items:
              $ref: '#/definitions/subscription'
        400:
          description: Invalid subscription request.
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        409:
          description: |
            There is already a subscription on for the same eventType and the same target Url.
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false



  '/{merchantCode}/subscriptions/{id}':
    get:
      tags:
      - Subscriptions - DRAFT
      operationId: GetSubscription
      summary: Get a subscription to the orders
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - name: id
        in: path
        required: true
        type: string
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'X-Hook-Secret' does not comply with the rule
      - name: X-Hook-Secret
        in: header
        required: true
        type: string
        x-example: blablabla
      responses:
        200:
          description: Subscription info
          schema:
            $ref: '#/definitions/subscription'
        404:
          description: Invalid subscription id or X-Hook-Secret.
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'

    delete:
      tags:
      - Subscriptions - DRAFT
      operationId: DeleteSubscription
      summary: Delete a subscription to the orders
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - name: id
        in: path
        required: true
        type: string
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'X-Hook-Secret' does not comply with the rule
      - name: X-Hook-Secret
        in: header
        required: true
        type: string
        x-example: blablabla
      responses:
        204:
          description: Subscription deleted
        404:
          description: Invalid subscription id or X-Hook-Secret.
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'

        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false

  '/{merchantCode}/subscriptions/{id}/activate':
    post:
      tags:
      - Subscriptions - DRAFT
      operationId: ActivateSubscription
      summary: Activate a subscription to the orders
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - name: id
        in: path
        required: true
        type: string
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'X-Hook-Secret' does not comply with the rule
      - name: X-Hook-Secret
        in: header
        required: true
        type: string
        x-example: blablabla
      responses:
        200:
          description: Subscription activated
          schema:
            $ref: '#/definitions/subscription'
        404:
          description: Invalid subscription id or X-Hook-Secret.
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'

  '/{merchantCode}/subscriptions/{id}/deactivate':
    post:
      tags:
      - Subscriptions - DRAFT
      operationId: DeactivateSubscription
      summary: Deactivate a subscription to the orders
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - name: id
        in: path
        required: true
        type: string
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'X-Hook-Secret' does not comply with the rule
      - name: X-Hook-Secret
        in: header
        required: true
        type: string
        x-example: blablabla
      responses:
        200:
          description: Subscription deactivated
          schema:
            $ref: '#/definitions/subscription'
        404:
          description: Invalid subscription id or X-Hook-Secret.
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'

        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false

definitions:




 
 
 




  orderListRequestWithoutPagination:
    type: object
    required:
    - dateSearchType
    - beginPeriodUtcDate
    - endPeriodUtcDate
    properties:
      marketplaceCodes:
        type: array
        items:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/marketplaceCode'
        example:
        - C1
      imnOrderStatuses:
        type: array
        items:
          $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/imnOrderStatus'
        example:
        - InProgress
      dateSearchType:
        $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/orderDateSearchType'
      beginPeriodUtcDate:
        description: |
          The begin period you want to make the search. \
          The period MUST not be greater than 30 days.
          The begin period MUST be lower than the end period.
        format: date-time
        type: string
        example: '2017-03-01T13:10:01Z'
      endPeriodUtcDate:
        description: |
          The end period of you search. \
          The period MUST not be greater than 30 days. \
          The end period MUST be greater than the begin period.
          The end period MUST be lower to the current date.
        format: date-time
        type: string
        example: '2017-04-01T13:10:01Z'

      buyerFirstName:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/firstName'
      buyerLastName:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/lastName'

      marketplaceOrderIds:
        type: array
        items:
          $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/marketplaceOrderId'
        example:
        - CdiscountOrderId1234
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'order_MerchantOrderIds' does not comply with the rule
      order_MerchantOrderIds:
        description: Merchant order id list
        type: array
        items:
          $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/merchantOrderId'
        example:
        - MyOrderId1234

  orderListRequest:
    allOf:
    - $ref: '#/definitions/orderListRequestWithoutPagination'
    - type: object
      required:
      - dateSearchType
      - beginPeriodUtcDate
      - endPeriodUtcDate
      - pageSize
      - pageNumber
      properties:
        pageSize:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/pageSize'
          
        pageNumber:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/pageNumber'


  businessOperationType:
    type: string
    x-lov: OrderChangeBusinessOperationType
    example: ShipOrder


 

  clearMerchantOrderInfoListRequest:
    type: object
    required:
    - orders
    properties:
      orders:
        type: array
        items:
          $ref: '#/definitions/orderIdentifier'
        maxItems: 100
        uniqueItems: true
        minItems: 1
        example:
        - marketplaceCode: C1
          merchantCode: 'MLT01'
          imnOrderId: 'X0CD8FG'
        - marketplaceCode: C1
          merchantCode: 'MLT01'
          imnOrderId: 'Y0CD9FG'
        - marketplaceCode: E1
          merchantCode: 'MLT01'
          imnOrderId: 'Z0CD4FG'

  setMerchantOrderInfoListRequest:
    type: object
    required:
    - order_MerchantECommerceSoftwareName
    - order_MerchantECommerceSoftwareVersion
    - orders
    properties:
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'order_MerchantECommerceSoftwareName' does not comply with the rule
      order_MerchantECommerceSoftwareName:
        $ref: '#/definitions/order_MerchantECommerceSoftwareName'
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'order_MerchantECommerceSoftwareVersion' does not comply with the rule
      order_MerchantECommerceSoftwareVersion:
        $ref: '#/definitions/order_MerchantECommerceSoftwareVersion'
      orders:
        type: array
        items:
          $ref: '#/definitions/setMerchantOrderInfoListRequestItem'
        maxItems: 100
        uniqueItems: true
        minItems: 1
        example:
        - marketplaceCode: C1
          merchantCode: 'MLT01'
          imnOrderId: 'Z0CD4FG'
          order_MerchantOrderId: BX1234
        - marketplaceCode: C1
          merchantCode: 5678
          imnOrderId: 'Y0CD9FG'
          order_MerchantOrderId: BX5678
        - marketplaceCode: E1
          merchantCode: 9876
          imnOrderId: 'Z0CD4FG'
          order_MerchantOrderId: BX9876

  setMerchantOrderInfoListRequestItem:
    allOf:
    - $ref: '#/definitions/orderIdentifier'
    - type: object
      required:
      - marketplaceCode
      - merchantCode
      - imnOrderId
      - order_MerchantOrderId
      properties:
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'order_MerchantOrderId' does not comply with the rule
        order_MerchantOrderId:
          $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/merchantOrderId'

  setMerchantOrderInfoRequest:
    type: object
    required:
    - order_MerchantOrderId
    - order_MerchantECommerceSoftwareName
    - order_MerchantECommerceSoftwareVersion
    properties:
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'order_MerchantOrderId' does not comply with the rule
      order_MerchantOrderId:
        $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/merchantOrderId'
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'order_MerchantECommerceSoftwareName' does not comply with the rule
      order_MerchantECommerceSoftwareName:
        $ref: '#/definitions/order_MerchantECommerceSoftwareName'
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'order_MerchantECommerceSoftwareVersion' does not comply with the rule
      order_MerchantECommerceSoftwareVersion:
        $ref: '#/definitions/order_MerchantECommerceSoftwareVersion'

  accountSynchronizationList:
    type: object
    additionalProperties:
      $ref: '#/definitions/accountSynchronization'

  accountSynchronization:
    type: object
    required:
    - merchantCode
    - marketplaceCode
    - marketplaceBusinessCode
    properties:
      completedHarvestSynchroUtcDate:
        format: date-time
        type: string


  processing:
    description: If true, there is currently a harvest or an order change in progress. Otherwise false.
    type: boolean
    example: false

  links.GetOrderLink:
    allOf:
    - $ref: https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3
    - example:
        href: /merchant/orders/v1/MLT01/C1/A0CD3FG
        method: GET

  orderHeaderLinks:
    type: object
    required:
    - self
    properties:
      self:
        $ref: '#/definitions/links.GetOrderLink'

  orderHeader:
    description: Describe the basic information related to an order. All properties with the prefix order_ are translated in the list of values /user/lov/OrderMetaInfoOrderDetails
    type: object
    required:
    - marketplaceCode
    - merchantCode
    - imnOrderId
    - imnOrderUrl
    - marketplaceOrderId
    - imnOrderStatus
    - purchaseUtcDate
    - imnLastModificationUtcDate
    - marketplaceLastModificationUtcDate
    - processing
    - etag
    - links
    properties:
      marketplaceCode:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/marketplaceCode'
      merchantCode:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/merchantCode'
      imnOrderId:
        $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/imnOrderId'
      imnOrderUrl:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/httpUrl'
      marketplaceOrderId:
        $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/marketplaceOrderId'

      imnOrderStatus:
        $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/imnOrderStatus'

      marketplaceOrderStatus:
        $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/marketplaceOrderStatus'

      merchantOrderId:
        $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/merchantOrderId'

      merchantECommerceSoftwareName:
        $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/merchantECommerceSoftwareName'

      merchantECommerceSoftwareVersion:
        $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/merchantECommerceSoftwareVersion'

      purchaseUtcDate:
        description: The purchase date of this order
        format: date-time
        type: string
        example: '2017-03-31T21:30:23Z'

      imnLastModificationUtcDate:
        description: The last modification UTC date done by IMN of this order
        format: date-time
        type: string
        example: '2017-04-16T10:30:23Z'

      marketplaceLastModificationUtcDate:
        description: The last modification UTC date done by the marketplace on this order
        format: date-time
        type: string
        example: '2017-04-16T10:25:23Z'
      
      billingFirstName:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/firstName'
        
      billingLastName:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/lastName'

      totalPrice:
        description: The total price of this order (corresponding to the amount paid by the customer)
        format: decimal
        type: number
        example: 101.42
      currencyCode:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/currencyCode'
      processing:
        $ref: '#/definitions/processing'
      etag:
       $ref: '#/definitions/etag'
      links:
       $ref: '#/definitions/orderHeaderLinks'

  etag:
    description: |
      ETag value to identify the order.\
      This information is required for the operation GetOrder and ChangeOrder.\
      For more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3
    type: string
    example: '"ca071a4580129f932a03971968ffef69"'

  orderItem:
    description: Describe an order item. All properties with the prefix orderItem_ are translated in the list of values /user/lov/OrderMetaInfoOrderItems
    type: object
    required:
    - imnOrderItemId
    properties:
      imnOrderItemId:
        description: The IMN identifier of the order Item
        type: string
        example: '1'


      title:
        description: The title of the order item
        example: 'bLA acide-plomb 6v-4.5ah 70x48x106mm'
        type: string

      condition:
        description: The condition of the order item
        example: 'new'
        type: string
        
      imageUrl:
        description: The URL of the image of the order item
        example: 'http://blabla.com//das6-45.jpg'
        type: string
 
      merchantOfferSku:
        $ref: 'https://api.swaggerhub.com/domains/IMN/offer-schemas/1.0#/definitions/sku'

      gtin:
        $ref: 'https://api.swaggerhub.com/domains/IMN/offer-schemas/1.0#/definitions/gtin'



      marketPlaceProductId:
        description: The marketplace product identifier of the order item
        example: 'MarketplaceProductId'
        type: string

      itemPrice:
        description: The price of the order item
        example: 6.86
        type: number
        format: decimal

      itemTax:
        description: The tax of the order item
        type: number
        format: decimal
        example: 0.0

      quantity:
        description: The quantity of the order item
        example: 1
        type: number
        format: decimal
      shippingPrice:
        description: The shipping price of the order item
        type: number
        example: 0.00
        format: decimal



      totalPrice:
        description: The total price of the order item
        example: 6.86
        type: number
        format: decimal
        

      marketplaceProductUrl:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/httpUrl'


  orderLinks:
    allOf:
    - $ref: '#/definitions/orderHeaderLinks'
    - type: object
      required:
      - self
      - history
      - setMerchantInfo
      - clearMerchantInfo
      properties:
        history:
          $ref: '#/definitions/links.GetOrderHistoryLink'
        setMerchantInfo:
          $ref: '#/definitions/links.SetMerchantOrderInfoLink'
        clearMerchantInfo:
          $ref: '#/definitions/links.ClearMerchantOrderInfoLink'

  links.GetOrderHistoryLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3'
    - example:
        href: /merchant/orders/v1/MLT01/C1/A0CD3FG/history
        method: GET

  links.SetMerchantOrderInfoLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3'
    - example:
        href: /merchant/orders/v1/MLT01/C1/A0CD3FG/setMerchantOrderInfo
        method: POST
        parameters:
          request:
            in: body
            type: object
            schema: setMerchantOrderInfoRequest

  links.ClearMerchantOrderInfoLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3'
    - example:
        href: /merchant/orders/v1/MLT01/C1/A0CD3FG/clearMerchantOrderInfo
        method: POST

  links.HarvestOrderLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3'
    - example:
        href: /merchant/orders/v1/MLT01/C1/A0CD3FG/harvest
        method: POST

  order:
    allOf:
    - $ref: '#/definitions/orderHeader'
    - type: object
      description: Describe in details all informations related to an order. All properties with the prefix order_ are translated in the list of values /user/lov/OrderMetaInfoOrderDetails.
      required:
      - marketplaceCode
      - merchantCode
      - imnOrderId
      - marketplaceBusinessCode
      - order_MarketplaceOrderId
      - order_Status_IMNOrderStatus
      - order_PurchaseUtcDate
      - order_LastModificationUtcDate
      - order_MarketplaceLastModificationUtcDate
      - processing
      - etag
      - links
      - orderItems
      - transitionLinks
      properties:
        links:
          $ref: '#/definitions/orderLinks'
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'order_MarketPlaceChannel' does not comply with the rule
        marketPlaceChannel:
          description: Useful to identify the origin of the order. For example in Cdiscount.
          type: string
          example: Cdiscount France
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'order_TotalTax' does not comply with the rule
        totalTax:
          description: The total tax of this order
          type: number
          format: decimal
          example: 0.0
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'order_TotalCommission' does not comply with the rule
        totalCommission:
          description: The total commission of this order
          type: number
          format: decimal
          example: 0.0


        additionalFee:
          description: Additional fee related to this order
          type: number
          format: decimal
          example: 10.0


# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'order_PaymentMethod' does not comply with the rule
        paymentMethod:
          description: The payment method of this order
          type: string
          example: '1 / 1X'
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'order_PayingUtcDate' does not comply with the rule
        payingUtcDate:
          description: The UTC date of the payment of this order
          type: string
          format: date-time
          example: '2017-04-01T13:22:01Z'
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'order_Comment' does not comply with the rule
        comment:
          description: The comment associated to this order
          type: string
          example: 'This is a comment'
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'shippingCivility' does not comply with the rule
        shippingCivility:
          description: The civility of the person in the shipping address for this order
          type: string
          example: MRS
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'shippingCompanyName' does not comply with the rule
        shippingCompanyName:
          description: The company name of the shipping address for this order
          type: string
          example: My Company
        shippingRelayId:
          description: The company name of the shipping address for this order
          type: string
          example: My Company
          
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'shippingAddressName' does not comply with the rule
        shippingAddressFirstName:
          description: The first name of the person in the shipping address for this order
          type: string
          example: Jacques

        shippingAddressLastName:
          description: The last name of the person in the shipping address for this order
          type: string
          example: BAUREGARD
          
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'shippingEmail' does not comply with the rule
        shippingEmail:
          description: The email of the person in the shipping address for this order
          type: string
          example: client_000000@manomano.fr
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'shippingAddressLine1' does not comply with the rule
        shippingAddressLine1:
          description: The shipping address line 1 of this order
          type: string
          example: '5 rue amélie'
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'shippingAddressLine2' does not comply with the rule
        shippingAddressLine2:
          description: The shipping address line 2 of this order
          type: string
          example: 'BDR'
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'shippingAddressLine3' does not comply with the rule
        shippingAddressLine3:
          description: The shipping address line 3 of this order
          type: string
          example: 'RDC'

        shippingComment:
          description: The shipping comment of this order
          type: string
          example: 'The instructions from the buyer'
          
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'shippingAddressPostalCode' does not comply with the rule
        shippingAddressPostalCode:
          description: The shipping address postal code of this order
          type: string
          example: '13014'
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'shippingAddressCity' does not comply with the rule
        shippingAddressCity:
          description: The shipping address city of this order
          type: string
          example: Marseille
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'shippingAddressStateOrRegion' does not comply with the rule
        shippingAddressStateOrRegion:
          description: The shipping address state or region of this order
          type: string
          example: BDR
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'shippingAddressCountryName' does not comply with the rule
        shippingAddressCountryName:
          description: The shipping address country name
          type: string
          example: France
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'shippingAddressCountryIsoCodeAlpha2' does not comply with the rule
        shippingAddressCountryIsoCodeAlpha2:
          description: The shipping address country iso code alpha 2 (see http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#/decoding_table for more details)
          type: string
          example: FR
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'shippingPhone' does not comply with the rule
        shippingPhone:
          description: The phone number of the person in the shipping address for this order
          type: string
          example: '+33000000041'
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'shippingMobilePhone' does not comply with the rule
        shippingMobilePhone:
          description: The mobile phone number of the person in the shipping address for this order
          type: string
          example: '+33000000042'
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'shippingPrice' does not comply with the rule
        shippingPrice:
          description: The shipping price of this order
          type: number
          format: decimal
          example: 6.9
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'shippingMethod' does not comply with the rule
        shippingMethod:
          description: The shipping method of this order
          type: string
          example: DPD Domicile


        shippingFulfilledBy:
          description: The shipment is fulfilled by
          type: string
          example: Cdiscount Fulfillment

# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'shippingShippingTax' does not comply with the rule
        shippingTax:
          description: The shipping tax for this order
          type: number
          format: decimal
          example: 0.0
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'shippingEarliestShipUtcDate' does not comply with the rule
        shippingEarliestShipUtcDate:
          description: The UTC date of the earliest ship for this order
          type: string
          example: '2017-04-02T21:30:00Z'
          format: date-time
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'shippingLatestShipUtcDate' does not comply with the rule
        shippingLatestShipUtcDate:
          description: The UTC date of the latest ship for this order
          type: string
          format: date-time
          example: '2017-04-30T21:30:00Z'
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'billingIdentifier' does not comply with the rule
        billingIdentifier:
          description: The buyer identifier for this order
          type: string
          example: '1234567890'
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'billingCivility' does not comply with the rule
        billingCivility:
          description: The buyer civility for this order
          type: string
          example: 'Marseille'
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'billingCompanyName' does not comply with the rule
        billingCompanyName:
          description: The buyer company name for this order
          type: string
          example: 'Marsillia'
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'billingEmail' does not comply with the rule
        billingEmail:
          description: The email of the buyer for this order
          type: string
          example: client_000000@manomano.fr
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'billingAddressLine1' does not comply with the rule
        billingAddressLine1:
          description: The Buyer address line 1 of this order
          type: string
          example: '5 rue amélie'
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'billingAddressLine2' does not comply with the rule
        billingAddressLine2:
          description: The Buyer address line 2 of this order
          type: string
          example: 'BDR'
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'billingAddressLine3' does not comply with the rule
        billingAddressLine3:
          description: The Buyer address line 3 of this order
          type: string
          example:  'RDC'
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'billingAddressPostalCode' does not comply with the rule
        billingAddressPostalCode:
          description: The Buyer address postal code of this order
          type: string
          example: '13014'
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'billingAddressCity' does not comply with the rule
        billingAddressCity:
          description: The Buyer address city of this order
          type: string
          example: Marseille
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'billingAddressStateOrRegion' does not comply with the rule
        billingAddressStateOrRegion:
          description: The Buyer address state or region of this order
          type: string
          example: BDR
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'billingAddressCountryName' does not comply with the rule
        billingAddressCountryName:
          description: The Buyer address country name
          type: string
          example: France
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'billingAddressCountryIsoCodeAlpha2' does not comply with the rule
        billingAddressCountryIsoCodeAlpha2:
          description: The Buyer address country iso code alpha 2 (see http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#/decoding_table for more details)
          type: string
          example: FR
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'billingPhone' does not comply with the rule
        billingPhoneNumber:
          description: The phone number of the buyer for this order
          type: string
          example: '+33000000101'
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'billingMobilePhone' does not comply with the rule
        billingMobilePhoneNumber:
          description: The mobile phone number of the buyer for this order
          type: string
          example: '+33000000042'
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : All model properties must have examples]: Field 'example' required in 'properties'
        orderItems:
          type: array
          items:
            $ref: '#/definitions/orderItem'
        transitionLinks:
          $ref: '#/definitions/orderTransitionLinks'

  links.ShipOrderLink:
    allOf:
    - $ref: https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3

  links.RefundOrderLink:
    allOf:
    - $ref: https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3

  links.AcceptOrderLink:
    allOf:
    - $ref: https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3

  links.CancelOrderLink:
    allOf:
    - $ref: https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3

  orderTransitionLinks:
    description: Contains the authorized change actions for an order
    type: object
    properties:
      accept:
        $ref: '#/definitions/links.AcceptOrderLink'
      cancel:
        $ref: '#/definitions/links.CancelOrderLink'
      ship:
        $ref: '#/definitions/links.ShipOrderLink'
      refund:
        $ref: '#/definitions/links.RefundOrderLink'
        


  orderApiIndex:
    type: object
    required:
    - links
    - lovLinks
    properties:
      links:
        $ref: '#/definitions/orderApiIndexLinks'
      lovLinks:
        $ref: '#/definitions/orderApiIndexLovLinks'

  links.GetOrderApiIndexLink:
    allOf:
    - $ref: https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3
    - example:
        href: /merchant/orders/v1/MLT01
        method: GET

  orderApiIndexLinks:
    description: Gives you all entry point operations you can do on this API
    type: object
    required:
    - self
    - status
    - setMerchantInfos
    - clearMerchantInfos
    - export
    - autoTransitions
    - orders
    - lightOrders
    properties:
      self:
        $ref: '#/definitions/links.GetOrderApiIndexLink'
      setMerchantInfos:
        $ref: '#/definitions/links.SetMerchantOrderInfoListLink'
      clearMerchantInfos:
        $ref: '#/definitions/links.ClearMerchantOrderInfoListLink'
      orders:
        $ref: '#/definitions/links.GetOrderListFullLink'
      lightOrders:
        $ref: '#/definitions/links.GetOrderListLightLink'

  orderApiIndexLovLinks:
    description: Gives you all the LOV to get the translations realated to operation name, codes, property names and statuses.
    type: object
    required:
    - orderChangeBusinessOperationType
    - orderState
    - orderProperty
    - orderPropertyPosted
    properties:
      orderChangeBusinessOperationType:
        $ref: https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/LOVLink3
      orderState:
        $ref: https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/LOVLink3
      orderProperty:
        $ref: https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/LOVLink3
      orderPropertyPosted:
        $ref: https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/LOVLink3

  links.GetOrderListFullLink:
    allOf:
    - $ref: https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3
    - example:
        href: /merchant/orders/v1/list/full
        method: POST
        properties:
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : All model properties must have examples]: Field 'example' required in 'properties'
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'Accept-Encoding' does not comply with the rule
          'Accept-Encoding':
            in: header
            required: true
            "type": "​array"
            schema: string
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : All model properties must have examples]: Field 'example' required in 'properties'
          request:
            in: body
            required: false
            type: object
            schema: orderListRequest

  links.GetOrderListLightLink:
    allOf:
    - $ref: https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3
    - example:
        href: /merchant/orders/v1/list/light
        method: POST
        properties:
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : All model properties must have examples]: Field 'example' required in 'properties'
          request:
            in: body
            required: false
            type: object
            schema: orderListRequest



  orderListLinks:
    description: The list of actions you can do from the order list response
    type: object
    required:
    - setMerchantInfos
    - clearMerchantInfos
    properties:
      setMerchantInfos:
        $ref: '#/definitions/links.SetMerchantOrderInfoListLink'
      clearMerchantInfos:
        $ref: '#/definitions/links.ClearMerchantOrderInfoListLink'


  orderListLightLinks:
    allOf:
    - $ref: '#/definitions/orderListLinks'
    - type: object
      required:
      - self
      - harvest
      - setMerchantInfos
      - clearMerchantInfos
      - export
      - status
      properties:
        self:
          $ref: '#/definitions/links.GetOrderListLightLink'

  orderListFullLinks:
    allOf:
    - $ref: '#/definitions/orderListLinks'
    - type: object
      required:
      - self
      - harvest
      - setMerchantInfos
      - clearMerchantInfos
      - export
      - status
      properties:
        self:
          $ref: '#/definitions/links.GetOrderListFullLink'

  links.SetMerchantOrderInfoListLink:
    allOf:
    - $ref: https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3
    - example:
        href: /merchant/orders/v1/setMerchantOrderInfos
        method: POST
        parameters:
          request:
            in: body
            required: true
            type: object
            schema: setMerchantOrderInfoRequest

  links.ClearMerchantOrderInfoListLink:
    allOf:
    - $ref: https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3
    - example:
        href: /merchant/orders/v1/clearMerchantOrderInfos
        method: POST



  orderListLight:
    description: |
      The order list with minimum information we have from the orders.\
      The paginationResult properties can be null if the list is empty.
    type: object
    required:
    - orders
    - links
    properties:
      paginationResult:
        $ref: https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/paginationResult
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : All model properties must have examples]: Field 'example' required in 'properties'
      orders:
        type: array
        items:
          $ref: '#/definitions/orderHeader'
      links:
        $ref: '#/definitions/orderListLightLinks'

  orderListFull:
    description: |
      The order list with all information we have from the orders and its items.\
      The paginationResult properties can be null if the list is empty.
    type: object
    required:
    - orders
    - links
    properties:
      paginationResult:
        $ref: https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/paginationResult
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : All model properties must have examples]: Field 'example' required in 'properties'
      orders:
        type: array
        items:
          $ref: '#/definitions/order'
      links:
        $ref: '#/definitions/orderListFullLinks'


  orderHistory:
    description: Describe the history related to an order
    type: object
    properties:
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : All model properties must have examples]: Field 'example' required in 'properties'
      changeOrderReportings:
        description: The list of change order operation
        type: array
        items:
          $ref: '#/definitions/changeOrderReporting'
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : All model properties must have examples]: Field 'example' required in 'properties'
      lastModificationUtcDate:
        format: date-time
        type: string

  sourceType:
    description: Indicates the origin of the operation
    type: string
    enum:
    - Api
    - Go
    example: Api


  changeOrderReporting:
    description: The reporting related to a change order operation
    type: object
    properties:
      correlationId:
        $ref: '#/definitions/correlationId'
      changeOrderType:
        $ref: '#/definitions/businessOperationType'
      sourceType:
        $ref: '#/definitions/sourceType'
      sourceUserId:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/userId'
      sourceUserName:
        type: string
        example: Guillaume Tell
      creationUtcDate:
        description: The creation UTC date of the execution
        format: date-time
        type: string
        example: '2017-04-01T13:10:03Z'
      processingStatus:
        description: The processing status of the execution
        type: string
        example: Done
      lastUpdateUtcDate:
        description: The last update UTC date of the execution
        format: date-time
        type: string
        example: '2017-04-01T13:10:05Z'
      errorMessage:
        description: The error message during the execution
        type: string
        example: 'This is an error message'
      ipAddress:
        description: The IP address who request this operation
        type: string
        example: '127.0.0.1'
      testMode:
        description: This operation was a test
        type: boolean
        example: false
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : All model properties must have examples]: Field 'example' required in 'properties'
      details:
        type: object
        additionalProperties:
          type: object



  shipOrderListRequest:
    type: object
    description: Contains all change order operations you want to make
    required:
    - shipOrders
    properties:
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : All model properties must have examples]: Field 'example' required in 'properties'
      shipOrders:
        type: array
        description: The change order operations
        minLength: 1
        maxLength: 100
        items:
         $ref: '#/definitions/shipOrderListRequestItem'

  shipOrderListRequestItem:
    type: object
    description: Contains the order identifier and the change order request
    required:
    - order
    - shipOrderRequest
    properties:
      order:
        $ref: '#/definitions/orderIdentifierWithETag'
      shipOrderRequest:
        $ref: '#/definitions/shipOrderRequest'





  refundOrderListRequest:
    type: object
    description: Contains all change order operations you want to make
    required:
    - shipOrders
    properties:
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : All model properties must have examples]: Field 'example' required in 'properties'
      refundOrders:
        type: array
        description: The change order operations
        minLength: 1
        maxLength: 100
        items:
         $ref: '#/definitions/shipOrderListRequestItem'

  refundOrderListRequestItem:
    type: object
    description: Contains the order identifier and the change order request
    required:
    - order
    - refundOrderRequest
    properties:
      order:
        $ref: '#/definitions/orderIdentifierWithETag'
      refundOrderRequest:
        $ref: '#/definitions/refundOrderRequest'


  acceptOrderListRequest:
    type: object
    description: Contains all change order operations you want to make
    required:
    - acceptOrders
    properties:
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : All model properties must have examples]: Field 'example' required in 'properties'
      acceptOrders:
        type: array
        description: The change order operations
        minLength: 1
        maxLength: 100
        items:
         $ref: '#/definitions/acceptOrderListRequestItem'

  acceptOrderListRequestItem:
    type: object
    description: Contains the order identifier and the change order request
    required:
    - order
    properties:
      order:
        $ref: '#/definitions/orderIdentifierWithETag'


  cancelOrderListRequest:
    type: object
    description: Contains all change order operations you want to make
    required:
    - cancelOrders
    properties:
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : All model properties must have examples]: Field 'example' required in 'properties'
      cancelOrders:
        type: array
        description: The change order operations
        minLength: 1
        maxLength: 100
        items:
         $ref: '#/definitions/cancelOrderListRequestItem'

  cancelOrderListRequestItem:
    type: object
    description: Contains the order identifier and the change order request
    required:
    - order
    - cancelOrderRequest
    properties:
      order:
        $ref: '#/definitions/orderIdentifierWithETag'
      cancelOrderRequest:
        $ref: '#/definitions/cancelOrderRequest'




  orderIdentifierWithETag:
    allOf:
    - $ref: '#/definitions/orderIdentifier'
    - type: object
      required:
      - marketplaceCode
      - merchantCode
      - imnOrderId
      - etag
      properties:
        etag:
         $ref: '#/definitions/etag'


  refundOrderRequest:
    type: object
    description: The refund order parameters
    required:
    - refundReason
    properties:
      refundReason:
        $ref: '#/definitions/refundReason'

 

  cancelOrderRequest:
    type: object
    description: The cancel order parameters
    required:
    - cancellationReason
    properties:
      cancellationReason:
        $ref: '#/definitions/cancellationReason'
  

  shipOrderRequest:
    type: object
    description: The ship order parameters
    required:
    - trackingNumber
    - carrierCode
    properties:
      trackingNumber:
        $ref: '#/definitions/trackingNumber'
      carrierCode: 
        $ref: '#/definitions/carrierCode'
    example:
      trackingNumber: '1H01845163783'
      carrierCode: MondialRelay


  shipOrderWithOtherCarrierRequest:
    type: object
    description: The ship order parameters for an unidentified carrier in the carrierCode enum
    required:
    - carrierName
    - trackingNumber
    - shippingUrl
    properties:
      carrierName:
        $ref: '#/definitions/carrierName'
      trackingNumber:
        $ref: '#/definitions/trackingNumber'
      shippingUrl: 
        $ref: '#/definitions/shippingUrl'
    example:
      carrierName: 'My special carrier name'
      trackingNumber: '1H01845163783'
      shippingUrl: 'https://trackingpackage.com?number=1H01845163783'





  

  batchOrderOperationResponse:
    description: The response given by the batch operation
    type: object
    required:
    - operations
    properties:
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : All model properties must have examples]: Field 'example' required in 'properties'
      operations:
        type: array
        items:
          $ref: '#/definitions/orderOperationResponse'

  orderOperationResponse:
    description: The response given by the batch operation for an order
    type: object
    required:
    - order
    - success
    - status
    properties:
      order:
        $ref: '#/definitions/orderIdentifier'
      success:
        type: boolean
        description: Indicates if the operation succeed or not
        example: true
      status:
        type: integer
        description: Indicates the http status corresponding to the individual operation
        example: 204
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : All model properties must have examples]: Field 'example' required in 'properties'
      errors:
        description: The error list
        type: array
        items:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/userErrorMessage'


  createSubscriptionRequest:
    type: object
    required:
    - targetUrl
    - name
    - applicationName
    properties:
      targetUrl:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/httpUrl'
      eventTypes:
        $ref: '#/definitions/subscriptionOrderEventTypeList'
      name:
        $ref: '#/definitions/subscriptionName'
      applicationName:
        $ref: '#/definitions/subscriptionApplicationName'
      applicationVersion:
        $ref: '#/definitions/subscriptionApplicationVersion'


  subscriptionOrderEventTypeList:
    type: array
    items:
      $ref: '#/definitions/orderEventType'
    default:
    - order.created
    - order.updated
    example:
    - order.created
    - order.updated
  subscriptionName:
    type: string
    description: The subscription name you want to use
    example: MySubscriptionName
  subscriptionApplicationName:
    type: string
    description: The name of your application
    example: MyApp
  subscriptionApplicationVersion:
    type: string
    description: The version of your application
    default: '1.0'
    example: '1.0'
      
  subscription:
    type: object
    description: The subscription definition
    required:
    - id
    - targetUrl
    - eventTypes
    - status
    - name
    - applicationName
    - applicationVersion
    properties:
      id:
        $ref: '#/definitions/subscriptionId'
      status:
        $ref: '#/definitions/subscriptionStatus'
      targetUrl:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/httpUrl'
      eventTypes:
        $ref: '#/definitions/subscriptionOrderEventTypeList'
      name:
        $ref: '#/definitions/subscriptionName'
      applicationName:
        $ref: '#/definitions/subscriptionApplicationName'
      applicationVersion:
        $ref: '#/definitions/subscriptionApplicationVersion'
      
  subscriptionId:
    type: string
    format: guid
  subscriptionStatus:
    type: string
    description: The status of your subscription
    enum:
    - active
    - inactive
  
  orderEventType:
    type: string
    description: The event type you can subscribe to
    enum:
    - order.created
    - order.updated
  
x-azure-api-id: 'merchant_orders_v1'
host: api.imn.io
basePath: /merchant/orders/v1