swagger: '2.0'
info:
  version: "1.0"
  title: Merchant - Orders
  description: |
    The features exposed in this API are centered around managing Orders harvested from your configured marketplaces.\
    This includes:
    - fetching current information (as known by IMN) for a single or multiple Orders,
    - requesting Order harvest to synchronize your marketplaces,
    - changing IMN data and requesting changes to your marketplaces (accepting, shipping, etc),
    - configuring automatic changes to marketplace based our newly fetched data,
    - creating and exporting reports for your Orders.
  x-logo:
    url: "https://avatars0.githubusercontent.com/u/25665430"
    backgroundColor: "#FFFFFF"

  contact:
    email: help@imn.io

  license:
    name: IMN
    url: http://www.imn.io

x-IMN-api-ops:
  codeGenType: webapi
  repo: IMN
  product: IMN-CORE
  group: Order
  applicationShortName: MER.Orders.WS
  appRoot: IMN.MER.Orders.WebService
  namespace: IMN.MER.Orders.WebService
  apiName: MerchantOrdersV1
  useBeezUPFrameworkVersion2: true
  comment: |
    First document
    regen
  using:
  - IMN.MER.Schemas
  - IMN.MER.Exceptions
  - IMN.Order.Schemas
  - IMN.Order.Events
  - IMN.Schemas
  - IMN.Exceptions
  - IMN.Order.Exceptions
  - BeezUP2.Framework.Messaging
  - BeezUP2.Framework.Processing
  references:
  - BeezUP2.Framework.Temp
  - IMN.MER.Schemas
  - IMN.MER.Exceptions
  - IMN.Order.Schemas
  - IMN.Order.Events
  - IMN.Schemas
  - IMN.Exceptions
  - IMN.Order.Exceptions
  packages:
  - EntityFramework
  - CosmosDB
  - EventHubs
  - Redis


x-host: api.imn.io
x-basePath: /merchant/orders/v1

externalDocs:
  description: IMN API documentation
  url: https://api-docs.imn.io

x-servers:
- url: https://api.imn.io/merchant/orders/v1
  description: Production Server

schemes:
  - https

# tags are used for organizing operations
tags:
- name: Global
  description: All global operations (cross marketplace)

- name: List
  description: All Order list operations

- name: Order
  description: All operations related to a single Order

- name: Batches
  description: All batch operations on Orders to reduce call rate

- name: Subscriptions - DRAFT
  description: All orders subscription operations - DRAFT

- name: Statistics
  description: The statistics of your orders

consumes:
  - application/json
produces:
  - application/json

responses:

  orderMerchantInfoBatchOperationResponse:
    description: |
      Succesfully or partially processed operations.
      In the response, you will see the status per operation.
    schema:
      $ref: '#/definitions/batchOrderOperationResponse'

  orderChangeBatchOperationResponse:
    description: |
      Succesfully or partially processed operations.
      In the response, you will see the status per operation.
      
      For each operation succeed:
      - the operation will be fowarded to the marketplace
      - that does not mean that marketplace will validate your operation.
      
    schema:
      $ref: '#/definitions/batchOrderOperationResponse'
      
      
paths:

  '/{merchantCode}':
    get:
      tags:
      - Global
      x-tagGroups: Marketplaces Orders
      operationId: GetOrderApiIndex
      summary: Get all actions you can do on the order API
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/ifNoneMatchParameter'
      responses:
        200:
          description: Order API index
          schema:
            $ref: '#/definitions/orderApiIndex'
        304:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/304_NotModified'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false


  '/{merchantCode}/list':
    post:
      tags:
      - List
      operationId: GetOrderListFull
      summary: Get a paginated list of all Orders with all Order and Order Item(s) properties
      description: |
        The purpose of this operation is to reduce the amount of request to the API.\
        \
        Previous implmentation of this feature only returned a partial (light) version of the Orders. The purpose of this API is to reduce the number of incoming requests by returning the complete (full) Order and Order Item(s) properties.
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'Accept-Encoding' does not comply with the rule
      - name: 'Accept-Encoding'
        description: Allows the client to indicate wether it accepts a compressed encoding to reduce traffic size
        in: header
        required: true
        type: string
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/orderListRequest'
      responses:
        200:
          description: Successfully fetched the full list of Orders
          schema:
            $ref: '#/definitions/orderListFull'
        400:
          description: Could not process request for given parameters values. Please check error message for more details.
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false

 


  '/{merchantCode}/batches/setMerchantOrderInfos':
    post:
      tags:
      - Batches
      operationId: SetMerchantOrderInfoList
      summary: Send a batch of operations to set an Order's merchant information  (max 100 items per call)
      description: The purpose of this operation is to reduce the amount of request to the API.
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/setMerchantOrderInfoListRequest'
      responses:
        200:
          $ref: '#/responses/orderMerchantInfoBatchOperationResponse'
        400:
          $ref: 'https://api.swaggerhub.com/domains/IMN/order-exceptions/1.0#/responses/orderBatchBadRequest'

        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false

  '/{merchantCode}/batches/clearMerchantOrderInfos':
    post:
      tags:
      - Batches
      operationId: ClearMerchantOrderInfoList
      summary: Send a batch of operations to clear an Order's merchant information (max 100 items per call)
      description: The purpose of this operation is to reduce the amount of request to the API.
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/clearMerchantOrderInfoListRequest'
      responses:
        200:
          $ref: '#/responses/orderMerchantInfoBatchOperationResponse'
        400:
          $ref: 'https://api.swaggerhub.com/domains/IMN/order-exceptions/1.0#/responses/orderBatchBadRequest'

        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false


  '/{merchantCode}/batches/ship':
    post:
      tags:
      - Batches
      operationId: ShipOrderList
      summary: Ship multiple marketplace orders in one operation (max 100 items per call)
      description: The purpose of this operation is to reduce the amount of request to the API.
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/userNameInQueryParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/testModeInQueryParameter'
      - name: request
        in: body
        required: true
        schema:
         $ref: '#/definitions/shipOrderListRequest'
      responses:
        202:
          $ref: '#/responses/orderChangeBatchOperationResponse'
        400:
          $ref: 'https://api.swaggerhub.com/domains/IMN/order-exceptions/1.0#/responses/orderBatchBadRequest'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false

  '/{merchantCode}/batches/shipWithTrackingUrl':
    post:
      tags:
      - Batches
      operationId: ShipOrderListWithTrackUrl
      summary: Ship multiple marketplace orders with tracking url in one operation (max 100 items per call)
      description: The purpose of this operation is to reduce the amount of request to the API.
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/userNameInQueryParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/testModeInQueryParameter'
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/shipOrderWithTrackingUrlListRequest'
      responses:
        202:
          $ref: '#/responses/orderChangeBatchOperationResponse'
        400:
          $ref: 'https://api.swaggerhub.com/domains/IMN/order-exceptions/1.0#/responses/orderBatchBadRequest'

        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false


  '/{merchantCode}/batches/refund':
    post:
      tags:
      - Batches
      operationId: RefundOrderList
      summary: Refund multiple marketplace orders in one operation (max 100 items per call)
      description: The purpose of this operation is to reduce the amount of request to the API.
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/userNameInQueryParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/testModeInQueryParameter'
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/refundOrderListRequest'
      responses:
        202:
          $ref: '#/responses/orderChangeBatchOperationResponse'
        400:
          $ref: 'https://api.swaggerhub.com/domains/IMN/order-exceptions/1.0#/responses/orderBatchBadRequest'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false


  '/{merchantCode}/batches/accept':
    post:
      tags:
      - Batches
      operationId: AcceptOrderList
      summary: Accept multiple marketplace orders in one operation (max 100 items per call)
      description: The purpose of this operation is to reduce the amount of request to the API.
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/userNameInQueryParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/testModeInQueryParameter'
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/acceptOrderListRequest'
      responses:
        202:
          $ref: '#/responses/orderChangeBatchOperationResponse'
        400:
          $ref: 'https://api.swaggerhub.com/domains/IMN/order-exceptions/1.0#/responses/orderBatchBadRequest'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false

  '/{merchantCode}/batches/refuse':
    post:
      tags:
      - Batches
      operationId: RefuseOrderList
      summary: Refuse multiple marketplace orders in one operation (max 100 items per call)
      description: The purpose of this operation is to reduce the amount of request to the API.
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/userNameInQueryParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/testModeInQueryParameter'
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/refuseOrderListRequest'
      responses:
        202:
          $ref: '#/responses/orderChangeBatchOperationResponse'
        400:
          $ref: 'https://api.swaggerhub.com/domains/IMN/order-exceptions/1.0#/responses/orderBatchBadRequest'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false


  '/{merchantCode}/batches/cancel':
    post:
      tags:
      - Batches
      operationId: CancelOrderList
      summary: Cancel multiple marketplace orders in one operation (max 100 items per call)
      description: The purpose of this operation is to reduce the amount of request to the API.
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/userNameInQueryParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/testModeInQueryParameter'
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/cancelOrderListRequest'
      responses:
        202:
          $ref: '#/responses/orderChangeBatchOperationResponse'
        400:
          $ref: 'https://api.swaggerhub.com/domains/IMN/order-exceptions/1.0#/responses/orderBatchBadRequest'

        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false




  '/{merchantCode}/{marketplaceCode}/{marketplaceOrderId}':
    head:
      tags:
      - Order
      operationId: HeadOrder
      summary: Get the meta information about the order (ETag, Last-Modified)
      description: |
        The purpose of this operation is to reduce the bandwith usage by getting just the meta information about the order (ETag, Last-Modified) with the body.
        This could be useful
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/marketplaceOrderIdParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/ifNoneMatchParameter'
      responses:
        200:
          description: Successfully fetched Order and Order Item(s) properties
          headers:
            'Last-Modified':
              type: string
              format: date-time
              description: |
                Last modification UTC date of the order\
                For more details go to this link: https://tools.ietf.org/html/rfc7232#section-2.2

            ETag:
              type: string
              description: |
                ETag value to identify the current version of requested Order\
                For more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3
        304:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/304_NotModified'
        404:
         $ref: 'https://api.swaggerhub.com/domains/IMN/order-exceptions/1.0#/responses/orderNotFound'
         
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false
    get:
      tags:
      - Order
      operationId: GetOrder
      summary: Get full Order and Order Item(s) properties
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/marketplaceOrderIdParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/ifNoneMatchParameter'
      responses:
        200:
          description: Successfully fetched Order and Order Item(s) properties
          headers:
            'Last-Modified':
              type: string
              format: date-time
              description: |
                Last modification UTC date of the order\
                For more details go to this link: https://tools.ietf.org/html/rfc7232#section-2.2
            ETag:
              type: string
              description: |
                ETag value to identify the current version of requested Order\
                For more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3
          schema:
            $ref: '#/definitions/orderIndex'
        304:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/304_NotModified'
        404:
         $ref: 'https://api.swaggerhub.com/domains/IMN/order-exceptions/1.0#/responses/orderNotFound'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false

  '/{merchantCode}/{marketplaceCode}/{marketplaceOrderId}/history':
    get:
      tags:
      - Order
      operationId: GetOrderHistory
      summary: Get an Order's harvest and change history
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/marketplaceOrderIdParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/ifNoneMatchParameter'
      responses:
        200:
          description: Successfully fetched Order history
          schema:
            $ref: '#/definitions/orderHistory'
        304:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/304_NotModified'
        404:
         $ref: 'https://api.swaggerhub.com/domains/IMN/order-exceptions/1.0#/responses/orderNotFound'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false

  '/{merchantCode}/{marketplaceCode}/{marketplaceOrderId}/setMerchantOrderInfo':
    post:
      tags:
      - Order
      operationId: SetMerchantOrderInfo
      summary: Set an Order's merchant information
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/marketplaceOrderIdParameter'
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/setMerchantOrderInfoRequest'
      responses:
        204:
          description: Successfully set Order merchant order info set
        400:
          description: Could not update Order merchant information. Please see body for more information.
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        404:
         $ref: 'https://api.swaggerhub.com/domains/IMN/order-exceptions/1.0#/responses/orderNotFound'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false

  '/{merchantCode}/{marketplaceCode}/{marketplaceOrderId}/clearMerchantOrderInfo':
    post:
      tags:
      - Order
      operationId: ClearMerchantOrderInfo
      summary: Clear an Order's merchant information
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/marketplaceOrderIdParameter'
      responses:
        204:
          description: Successfully cleared Order merchant order info set
        400:
          description: Could not update Order merchant information. Please see body for more information.
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        404:
         $ref: 'https://api.swaggerhub.com/domains/IMN/order-exceptions/1.0#/responses/orderNotFound'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false


  '/{merchantCode}/{marketplaceCode}/{marketplaceOrderId}/accept':
    post:
      tags:
      - Order
      operationId: AcceptOrder
      summary: Accept your marketplace order
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/marketplaceOrderIdParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/userNameInQueryParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/testModeInQueryParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/ifMatchParameter'
      responses:
        202:
          description: Order accept request accepted
        400:
          description: Invalid order accept request, could not be send to the marketplace. Please check your request.
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        404:
         $ref: 'https://api.swaggerhub.com/domains/IMN/order-exceptions/1.0#/responses/orderNotFound'
        409:
          $ref: 'https://api.swaggerhub.com/domains/IMN/order-exceptions/1.0#/responses/orderChangeAlreadyInProgress'
        412:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/412_PreConditionFailed'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false


  '/{merchantCode}/{marketplaceCode}/{marketplaceOrderId}/refuse':
    post:
      tags:
      - Order
      operationId: RefuseOrder
      summary: Refuse your marketplace order
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/marketplaceOrderIdParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/userNameInQueryParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/testModeInQueryParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/ifMatchParameter'
      responses:
        202:
          description: Order refuse request accepted
        400:
          description: Invalid order refuse request, could not be send to the marketplace. Please check your request.
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        404:
         $ref: 'https://api.swaggerhub.com/domains/IMN/order-exceptions/1.0#/responses/orderNotFound'
        
        409:
          $ref: 'https://api.swaggerhub.com/domains/IMN/order-exceptions/1.0#/responses/orderChangeAlreadyInProgress'        
        412:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/412_PreConditionFailed'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false


  '/{merchantCode}/{marketplaceCode}/{marketplaceOrderId}/cancel':
    post:
      tags:
      - Order
      operationId: CancelOrder
      summary: Cancel your marketplace order
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/marketplaceOrderIdParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/userNameInQueryParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/testModeInQueryParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/ifMatchParameter'
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/cancelOrderRequest'
      responses:
        202:
          description: Order cancel request accepted
        400:
          description: Invalid order cancel request, could not be send to the marketplace. Please check your request.
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        404:
         $ref: 'https://api.swaggerhub.com/domains/IMN/order-exceptions/1.0#/responses/orderNotFound'
        409:
          $ref: 'https://api.swaggerhub.com/domains/IMN/order-exceptions/1.0#/responses/orderChangeAlreadyInProgress'        
        412:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/412_PreConditionFailed'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false


  '/{merchantCode}/{marketplaceCode}/{marketplaceOrderId}/ship':
    post:
      tags:
      - Order
      operationId: ShipOrder
      summary: Ship your marketplace order
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/marketplaceOrderIdParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/userNameInQueryParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/testModeInQueryParameter'

      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/shipOrderRequest'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/ifMatchParameter'
      responses:
        202:
          description: Order ship request accepted
        400:
          description: Invalid order ship request, could not be send to the marketplace. Please check the body of this request.
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        404:
         $ref: 'https://api.swaggerhub.com/domains/IMN/order-exceptions/1.0#/responses/orderNotFound'
        409:
          $ref: 'https://api.swaggerhub.com/domains/IMN/order-exceptions/1.0#/responses/orderChangeAlreadyInProgress'        
        412:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/412_PreConditionFailed'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false


  '/{merchantCode}/{marketplaceCode}/{marketplaceOrderId}/shipWithTrackingUrl':
    post:
      tags:
      - Order
      operationId: ShipOrderWithTrackingUrl
      summary: Ship your marketplace order with tracking url
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/marketplaceOrderIdParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/userNameInQueryParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/testModeInQueryParameter'
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/shipOrderWithTrackingUrlRequest'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/ifMatchParameter'
      responses:
        202:
          description: Order ship with tracking url request accepted
        400:
          description: Invalid order ship request, could not be send to the marketplace. Please check the body of this request.
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        404:
         $ref: 'https://api.swaggerhub.com/domains/IMN/order-exceptions/1.0#/responses/orderNotFound'
        409:
          $ref: 'https://api.swaggerhub.com/domains/IMN/order-exceptions/1.0#/responses/orderChangeAlreadyInProgress'        
        412:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/412_PreConditionFailed'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false


  '/{merchantCode}/{marketplaceCode}/{marketplaceOrderId}/refund':
    post:
      tags:
      - Order
      operationId: RefundOrder
      summary: Refund your marketplace order
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/marketplaceCodeParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/marketplaceOrderIdParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/userNameInQueryParameter'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/parameters/testModeInQueryParameter'

      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/refundOrderRequest'
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/ifMatchParameter'
      responses:
        202:
          description: Order refund request accepted
        400:
          description: Invalid order refund request, could not be send to the marketplace. Please check the body of this request.
          x-exceptions:
          - ValidationException
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        404:
         $ref: 'https://api.swaggerhub.com/domains/IMN/order-exceptions/1.0#/responses/orderNotFound'
        409:
          $ref: 'https://api.swaggerhub.com/domains/IMN/order-exceptions/1.0#/responses/orderChangeAlreadyInProgress'        
        412:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/412_PreConditionFailed'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false




  '/{merchantCode}/subscriptions':
    post:
      tags:
      - Subscriptions - DRAFT
      operationId: CreateSubscription
      summary: Creates a subscription to the orders
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/createSubscriptionRequest'
      responses:
        201:
          description: Subscription created
          schema:
            $ref: '#/definitions/subscription'
        400:
          description: Invalid subscription request.
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        409:
          description: |
            There is already a subscription on for the same eventType and the same target Url.
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false

    get:
      tags:
      - Subscriptions - DRAFT
      operationId: GetSubscriptionList
      summary: Get the subscription list
      parameters: 
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'

      responses:
        200:
          description: The suscription list
          schema:
            type: array
            items:
              $ref: '#/definitions/subscription'
        400:
          description: Invalid subscription request.
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        409:
          description: |
            There is already a subscription on for the same eventType and the same target Url.
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false



  '/{merchantCode}/subscriptions/{id}':
    get:
      tags:
      - Subscriptions - DRAFT
      operationId: GetSubscription
      summary: Get a subscription to the orders
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - name: id
        in: path
        required: true
        type: string
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'X-Hook-Secret' does not comply with the rule
      - name: X-Hook-Secret
        in: header
        required: true
        type: string
        x-example: blablabla
      responses:
        200:
          description: Subscription info
          schema:
            $ref: '#/definitions/subscription'
        404:
          description: Invalid subscription id or X-Hook-Secret.
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'

    delete:
      tags:
      - Subscriptions - DRAFT
      operationId: DeleteSubscription
      summary: Delete a subscription to the orders
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - name: id
        in: path
        required: true
        type: string
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'X-Hook-Secret' does not comply with the rule
      - name: X-Hook-Secret
        in: header
        required: true
        type: string
        x-example: blablabla
      responses:
        204:
          description: Subscription deleted
        404:
          description: Invalid subscription id or X-Hook-Secret.
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'

        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false

  '/{merchantCode}/subscriptions/{id}/activate':
    post:
      tags:
      - Subscriptions - DRAFT
      operationId: ActivateSubscription
      summary: Activate a subscription to the orders
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - name: id
        in: path
        required: true
        type: string
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'X-Hook-Secret' does not comply with the rule
      - name: X-Hook-Secret
        in: header
        required: true
        type: string
        x-example: blablabla
      responses:
        200:
          description: Subscription activated
          schema:
            $ref: '#/definitions/subscription'
        404:
          description: Invalid subscription id or X-Hook-Secret.
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'

  '/{merchantCode}/subscriptions/{id}/deactivate':
    post:
      tags:
      - Subscriptions - DRAFT
      operationId: DeactivateSubscription
      summary: Deactivate a subscription to the orders
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - name: id
        in: path
        required: true
        type: string
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'X-Hook-Secret' does not comply with the rule
      - name: X-Hook-Secret
        in: header
        required: true
        type: string
        x-example: blablabla
      responses:
        200:
          description: Subscription deactivated
          schema:
            $ref: '#/definitions/subscription'
        404:
          description: Invalid subscription id or X-Hook-Secret.
          schema:
            $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/errorResponseMessage'

        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
      deprecated: false


  '/{merchantCode}/reports/status':
    post:
      tags:
        - Statistics
      summary: Get the report status
      description: Get the report status
      operationId: GetMerchantReportStatus
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      responses:
        200:
          description: Your reporting status
          schema:
            type: array
            items:
              $ref: '#/definitions/reportStatusByMarketplace'
        400:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
        404:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/merchantNotFound'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'


  '/{merchantCode}/reports/byday':
    post:
      tags:
        - Statistics
      summary: Get the report by day
      description: Get the report by day
      operationId: GetMerchantReportByDay
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/parameters/merchantCodeParameter'
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/reportByDayRequest'
      responses:
        200:
          description: Your reporting by day
          schema:
            $ref: '#/definitions/reportByDayResponse'
        400:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'
        404:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/merchantNotFound'
        default:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/responses/GeneralError'

definitions:



  reportStatusByMarketplace:
    type: object
    required:
    - toAccept
    - toShip
    - lateToShip
    - marketplaceCode
    properties:
      toAccept:
        type: integer
        description: The order count to accept
        example: 10
      toShip:
        type: integer
        description: The order count to ship
        example: 34
      lateToShip:
        type: integer
        description: The order count late to ship
        example: 56
      marketplaceCode:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/marketplaceCode'


 
 
  reportByDayRequest:
    required:
    - beginPeriodUtcDate
    - endPeriodUtcDate
    type: object
    properties:
      marketplaceCodes:
        description: Indicate the marketplace identifier list
        type: array
        minItems: 1
        items:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/marketplaceCode'
        example:
        - C1
        - E1
        - R1
      beginPeriodUtcDate:
        type: string
        format: date
        description: The begin date of the period for the report
        example: '2006-11-20T00:00:00Z'
      endPeriodUtcDate:
        type: string
        format: date
        description: The end date of the period for the report
        example: '2006-12-20T00:00:00Z'





  reportByDayResponse:
    type: object
    required:
    - days
    properties:
      days:
        type: array
        items:
          $ref: '#/definitions/reportByDay'



  reportByDay:
    type: object
    required:
    - day
    - byMarketplaces
    properties:
      day:
        type: string
        format: date
        example: '2017-04-23'
# [Style Validator (8c3bfea8-ddcf-4f79-8c7c-52fb930044e7) : All model properties must have examples]: Field 'example' required in 'properties'
# [Style Validator (d4181c6e-f5b7-47c8-b188-98eaaaf65988) : All model properties must have examples]: Field 'example' required in 'properties'
      byMarketplaces:
        type: array
        items:
          $ref: '#/definitions/reportByDayByMarketplace'

  reportByDayByMarketplace:
    type: object
    required:
    - marketplaceCode
    - currencyCode
    - orderCount
    - turnover
    properties:
      marketplaceCode:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/marketplaceCode'
      currencyCode:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/currencyCode'
      orderCount:
        type: integer
        description: The order count
        example: 42
      turnover:
        type: number
        description: The turnover
        example: 234.42
  



  orderListRequestWithoutPagination:
    type: object
    required:
    - dateSearchType
    - beginPeriodUtcDate
    - endPeriodUtcDate
    properties:
      marketplaceCodes:
        type: array
        items:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/marketplaceCode'
        example:
        - C1
      late:
        type: boolean
        description: Looking for late orders
        example: true
      imnOrderStatuses:
        type: array
        items:
          $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/imnOrderStatus'
        example:
        - InProgress
      dateSearchType:
        $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/orderDateSearchType'
      beginPeriodUtcDate:
        description: |
          The begin period you want to make the search. \
          The period MUST not be greater than 30 days.
          The begin period MUST be lower than the end period.
        format: date-time
        type: string
        example: '2017-03-01T13:10:01Z'
      endPeriodUtcDate:
        description: |
          The end period of you search. \
          The period MUST not be greater than 30 days. \
          The end period MUST be greater than the begin period.
          The end period MUST be lower to the current date.
        format: date-time
        type: string
        example: '2017-04-01T13:10:01Z'

      buyerFirstName:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/firstName'
      buyerLastName:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/lastName'

      marketplaceOrderIds:
        type: array
        items:
          $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/marketplaceOrderId'
        example:
        - CdiscountOrderId1234
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'merchantOrderIds' does not comply with the rule
      merchantOrderIds:
        description: Merchant order id list
        type: array
        items:
          $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/merchantOrderId'
        example:
        - MyOrderId1234

  orderListRequest:
    allOf:
    - $ref: '#/definitions/orderListRequestWithoutPagination'
    - type: object
      required:
      - dateSearchType
      - beginPeriodUtcDate
      - endPeriodUtcDate
      - pageSize
      - pageNumber
      properties:
        pageSize:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/pageSize'
          
        pageNumber:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/pageNumber'


 



  links.GetOrderLink:
    allOf:
    - $ref: https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3
    - example:
        href: /merchant/orders/v1/MLT01/C1/A0CD3FG
        method: GET



  orderLinks:
    type: object
    description: |
      The links related to an order.
      The "go" property is the link to see the order on https://go.imn.io
      Example: TBD
    required:
    - self
    - go
    - history
    - setMerchantInfo
    - clearMerchantInfo
    properties:
      self:
        $ref: '#/definitions/links.GetOrderLink'
      go:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/httpUrl'
    
      history:
        $ref: '#/definitions/links.GetOrderHistoryLink'
      setMerchantInfo:
        $ref: '#/definitions/links.SetMerchantOrderInfoLink'
      clearMerchantInfo:
        $ref: '#/definitions/links.ClearMerchantOrderInfoLink'

  links.GetOrderHistoryLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3'
    - example:
        href: /merchant/orders/v1/MLT01/C1/A0CD3FG/history
        method: GET

  links.SetMerchantOrderInfoLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3'
    - example:
        href: /merchant/orders/v1/MLT01/C1/A0CD3FG/setMerchantOrderInfo
        method: POST
        parameters:
          request:
            in: body
            type: object
            schema: setMerchantOrderInfoRequest

  links.ClearMerchantOrderInfoLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3'
    - example:
        href: /merchant/orders/v1/MLT01/C1/A0CD3FG/clearMerchantOrderInfo
        method: POST



    

  
  
    

  orderIndex:
    type: object
    description: Describe in details all informations related to an order.
    required:
    - info
    - links
    - transitionLinks
    properties:
      info:
        $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/orderInfo'

      links:
        $ref: '#/definitions/orderLinks'

      transitionLinks:
        $ref: '#/definitions/orderTransitionLinks'


 


  links.ShipOrderLink:
    allOf:
    - $ref: https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3

  links.ShipOrderWithTrackingUrlLink:
    allOf:
    - $ref: https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3

  links.RefundOrderLink:
    allOf:
    - $ref: https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3

  links.AcceptOrderLink:
    allOf:
    - $ref: https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3

  links.RefuseOrderLink:
    allOf:
    - $ref: https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3

  links.CancelOrderLink:
    allOf:
    - $ref: https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3

  orderTransitionLinks:
    description: Contains the authorized change actions for an order
    type: object
    properties:
      accept:
        $ref: '#/definitions/links.AcceptOrderLink'
      refuse:
        $ref: '#/definitions/links.RefuseOrderLink'
      cancel:
        $ref: '#/definitions/links.CancelOrderLink'
      ship:
        $ref: '#/definitions/links.ShipOrderLink'
      shipWithTrackingUrl:
        $ref: '#/definitions/links.ShipOrderWithTrackingUrlLink'
      refund:
        $ref: '#/definitions/links.RefundOrderLink'
        


  orderApiIndex:
    type: object
    required:
    - links
    - lovLinks
    properties:
      links:
        $ref: '#/definitions/orderApiIndexLinks'

  links.GetOrderApiIndexLink:
    allOf:
    - $ref: https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3
    - example:
        href: /merchant/orders/v1/MLT01
        method: GET

  orderApiIndexLinks:
    description: Gives you all entry point operations you can do on this API
    type: object
    required:
    - self
    - orders
    properties:
      self:
        $ref: '#/definitions/links.GetOrderApiIndexLink'
      orders:
        $ref: '#/definitions/links.GetOrderListFullLink'



  links.GetOrderListFullLink:
    allOf:
    - $ref: https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3
    - example:
        href: /merchant/orders/v1/MLT01/list
        method: POST
        properties:
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : All model properties must have examples]: Field 'example' required in 'properties'
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : camelCase]: 'Accept-Encoding' does not comply with the rule
          'Accept-Encoding':
            in: header
            required: true
            "type": "​string"
            schema: string
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : All model properties must have examples]: Field 'example' required in 'properties'
          request:
            in: body
            required: false
            type: object
            schema: orderListRequest

  orderListLinks:
    description: The list of actions you can do from the order list response
    type: object
    required:
    - setMerchantInfos
    - clearMerchantInfos
    properties:
      setMerchantInfos:
        $ref: '#/definitions/links.SetMerchantOrderInfoListLink'
      clearMerchantInfos:
        $ref: '#/definitions/links.ClearMerchantOrderInfoListLink'


  

  orderListFullLinks:
    allOf:
    - $ref: '#/definitions/orderListLinks'
    - type: object
      required:
      - self
      - harvest
      - setMerchantInfos
      - clearMerchantInfos
      - export
      - status
      properties:
        self:
          $ref: '#/definitions/links.GetOrderListFullLink'

  links.SetMerchantOrderInfoListLink:
    allOf:
    - $ref: https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3
    - example:
        href: /merchant/orders/v1/setMerchantOrderInfos
        method: POST
        parameters:
          request:
            in: body
            required: true
            type: object
            schema: setMerchantOrderInfoRequest

  links.ClearMerchantOrderInfoListLink:
    allOf:
    - $ref: https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/link3
    - example:
        href: /merchant/orders/v1/clearMerchantOrderInfos
        method: POST



 
 
  orderListFull:
    description: |
      The order list with all information we have from the orders and its items.\
      The paginationResult properties can be null if the list is empty.
    type: object
    required:
    - orders
    - links
    properties:
      paginationResult:
        $ref: https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/paginationResult
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : All model properties must have examples]: Field 'example' required in 'properties'
      orders:
        type: array
        items:
          $ref: '#/definitions/orderIndex'
      links:
        $ref: '#/definitions/orderListFullLinks'


  orderHistory:
    description: Describe the history related to an order
    type: object
    properties:
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : All model properties must have examples]: Field 'example' required in 'properties'
      changeOrderReportings:
        description: The list of change order operation
        type: array
        items:
          $ref: '#/definitions/changeOrderReporting'
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : All model properties must have examples]: Field 'example' required in 'properties'
      lastModificationUtcDate:
        format: date-time
        type: string

      

  changeOrderReporting:
    description: The reporting related to a change order operation
    type: object
    properties:
      correlationId:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/correlationId'
      changeType:
        $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/orderChangeType'
      sourceType:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/operationSourceType'
      sourceUserId:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/userId'
      sourceUserName:
        type: string
        example: Guillaume Tell
      creationUtcDate:
        description: The creation UTC date of the execution
        format: date-time
        type: string
        example: '2017-04-01T13:10:03Z'
      processingStatus:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/processingStatus'
      lastUpdateUtcDate:
        description: The last update UTC date of the execution
        format: date-time
        type: string
        example: '2017-04-01T13:10:05Z'
      errorMessage:
        description: The error message during the execution
        type: string
        example: 'This is an error message'
      ipAddress:
        description: The IP address who request this operation
        type: string
        example: '127.0.0.1'
      testMode:
        description: This operation was a test
        type: boolean
        example: false
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : All model properties must have examples]: Field 'example' required in 'properties'
      details:
        type: object
        additionalProperties:
          type: object






  refundOrderRequest:
    type: object
    description: The refund order parameters
    required:
    - refundReason
    properties:
      refundReason:
        $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/refundReason'

 

  cancelOrderRequest:
    type: object
    description: The cancel order parameters
    required:
    - cancellationReason
    properties:
      cancellationReason:
        $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/cancellationReason'
  

  shipOrderRequest:
    type: object
    description: The ship order parameters
    required:
    - trackingNumber
    - carrierCode
    properties:
      trackingNumber:
        $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/trackingNumber'
      carrierCode: 
        $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/carrierCode'
    example:
      trackingNumber: '1H01845163783'
      carrierCode: MondialRelay


  shipOrderWithTrackingUrlRequest:
    type: object
    description: The ship order parameters for an unidentified carrier in the carrierCode enum
    required:
    - carrierName
    - trackingNumber
    - trackingUrl
    properties:
      carrierName:
        $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/carrierName'
      trackingNumber:
        $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/trackingNumber'
      trackingUrl: 
        $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/trackingUrl'
    example:
      carrierName: 'My special carrier name'
      trackingNumber: '1H01845163783'
      shippingUrl: 'https://trackingpackage.com?number=1H01845163783'





  

  batchOrderOperationResponse:
    description: The response given by the batch operation
    type: object
    required:
    - operations
    properties:
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : All model properties must have examples]: Field 'example' required in 'properties'
      operations:
        type: array
        items:
          $ref: '#/definitions/orderOperationResponse'

  orderOperationResponse:
    description: The response given by the batch operation for an order
    type: object
    required:
    - order
    - success
    - status
    properties:
      order:
        $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/orderIdentifier'
      success:
        type: boolean
        description: Indicates if the operation succeed or not
        example: true
      status:
        type: integer
        description: Indicates the http status corresponding to the individual operation
        example: 204
# [Style Validator (57ac916a-8714-4f1c-8fd3-529d6f08a61d) : All model properties must have examples]: Field 'example' required in 'properties'
      errors:
        description: The error list
        type: array
        items:
          $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/userErrorMessage'


  createSubscriptionRequest:
    type: object
    required:
    - targetUrl
    - name
    - applicationName
    properties:
      targetUrl:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/httpUrl'
      name:
        $ref: '#/definitions/subscriptionName'
      applicationName:
        $ref: '#/definitions/subscriptionApplicationName'
      applicationVersion:
        $ref: '#/definitions/subscriptionApplicationVersion'


  subscriptionName:
    type: string
    description: The subscription name you want to use
    example: MySubscriptionName
  subscriptionApplicationName:
    type: string
    description: The name of your application
    example: MyApp
  subscriptionApplicationVersion:
    type: string
    description: The version of your application
    default: '1.0'
    example: '1.0'
      
  subscription:
    type: object
    description: The subscription definition
    required:
    - id
    - targetUrl
    - status
    - name
    - applicationName
    - applicationVersion
    properties:
      id:
        $ref: '#/definitions/subscriptionId'
      status:
        $ref: '#/definitions/subscriptionStatus'
      targetUrl:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/httpUrl'
      name:
        $ref: '#/definitions/subscriptionName'
      applicationName:
        $ref: '#/definitions/subscriptionApplicationName'
      applicationVersion:
        $ref: '#/definitions/subscriptionApplicationVersion'
      
  subscriptionId:
    type: string
    format: guid
  subscriptionStatus:
    type: string
    description: The status of your subscription
    enum:
    - Active
    - Inactive
  




  shipOrderListRequest:
    type: object
    required:
    - orders
    properties:
      orders:
        type: array
        maxItems: 100
        minItems: 1
        uniqueItems: true
        items:
         $ref: '#/definitions/shipOrderListRequestItem' 
          
  shipOrderListRequestItem:
    type: object
    required:
    - order
    - request
    - etag
    properties:
      order:
        $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/orderIdentifier'
      request:
        $ref: '#/definitions/shipOrderRequest'
      etag:
        $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/orderEtag'



  shipOrderWithTrackingUrlListRequest:
    type: object
    required:
    - orders
    properties:
      orders:
        type: array
        maxItems: 100
        minItems: 1
        uniqueItems: true
        items:
          $ref: '#/definitions/shipOrderWithTrackingUrlListRequestItem'
    
  
  shipOrderWithTrackingUrlListRequestItem:
    type: object
    required:
    - order
    - request
    - etag
    properties:
      order:
        $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/orderIdentifier'
      request:
        $ref: '#/definitions/shipOrderWithTrackingUrlRequest'
      etag:
        $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/orderEtag'

  refundOrderListRequest:
    type: object
    required:
    - orders
    properties:
      orders:
        type: array
        maxItems: 100
        minItems: 1
        uniqueItems: true
        items:
          $ref: '#/definitions/refundOrderListRequestItem'

  refundOrderListRequestItem:
    type: object
    required:
    - order
    - request
    - etag
    properties:
      order:
        $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/orderIdentifier'
      request:
        $ref: '#/definitions/refundOrderRequest'
      etag:
        $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/orderEtag'

  cancelOrderListRequest:
    type: object
    required:
    - orders
    properties:
      orders:
        type: array
        maxItems: 100
        minItems: 1
        uniqueItems: true
        items:
          $ref: '#/definitions/cancelOrderListRequestItem'


  cancelOrderListRequestItem:
    type: object
    required:
    - order
    - request
    - etag
    properties:
      order:
        $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/orderIdentifier'
      request:
        $ref: '#/definitions/cancelOrderRequest'
      etag:
        $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/orderEtag'



  acceptOrderListRequest:
    type: object
    required:
    - orders
    properties:
      orders:
        type: array
        maxItems: 100
        minItems: 1
        uniqueItems: true
        items:
          $ref: '#/definitions/acceptOrderListRequestItem'

  acceptOrderListRequestItem:
    type: object
    required:
    - order
    - etag
    properties:
      order:
        $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/orderIdentifier'
      etag:
        $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/orderEtag'


  refuseOrderListRequest:
    type: object
    required:
    - orders
    properties:
      orders:
        type: array
        maxItems: 100
        minItems: 1
        uniqueItems: true
        items:
          $ref: '#/definitions/refuseOrderListRequestItem'

  refuseOrderListRequestItem:
    type: object
    required:
    - order
    - etag
    properties:
      order:
        $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/orderIdentifier'
      etag:
        $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/orderEtag'



  clearMerchantOrderInfoListRequest:
    type: object
    required:
    - orders
    properties:
      orders:
        type: array
        maxItems: 100
        minItems: 1
        uniqueItems: true
        items:
          $ref: '#/definitions/clearMerchantOrderInfoListRequestItem'

  clearMerchantOrderInfoListRequestItem:
    type: object
    required:
    - order
    properties:
      order:
        $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/orderIdentifier'

    
    
  setMerchantOrderInfoListRequest:
    type: object
    required:
    - merchantECommerceSoftwareName
    - merchantECommerceSoftwareVersion
    - orders
    properties:

      merchantECommerceSoftwareName:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/ecommerceSoftwareName'

      merchantECommerceSoftwareVersion:
        $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/merchantECommerceSoftwareVersion'
      orders:
        type: array
        items:
          $ref: '#/definitions/setMerchantOrderInfoListRequestItem'
        maxItems: 100
        uniqueItems: true
        minItems: 1
        example:
        - order:
            marketplaceCode: C1
            merchantCode: 'MLT01'
            marketplaceOrderId: 'X0CD8FG'
          merchantOrderId: BX1234

  setMerchantOrderInfoListRequestItem:
    type: object
    required:
    - order
    - merchantOrderId
    properties:
      order:
        $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/orderIdentifier'
      merchantOrderId:
        $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/merchantOrderId'

  setMerchantOrderInfoRequest:
    type: object
    required:
    - merchantOrderId
    - merchantECommerceSoftwareName
    - merchantECommerceSoftwareVersion
    properties:

      merchantOrderId:
        $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/merchantOrderId'

      merchantECommerceSoftwareName:
        $ref: 'https://api.swaggerhub.com/domains/IMN/imn.io/v1#/definitions/ecommerceSoftwareName'

      merchantECommerceSoftwareVersion:
        $ref: 'https://api.swaggerhub.com/domains/IMN/order-schemas/1.0#/definitions/merchantECommerceSoftwareVersion'



x-azure-api-id: 'merchant_orders_v1'
host: api.imn.io
basePath: /merchant/orders/v1